@page "/professors/{Id}/active_appointments"

@inherits BasePage

@using static MeetBase.Blazor.PaletteColors
@using static MeetBase.Blazor.CssVariables
@using static MeetBase.Blazor.Personalization

@namespace MeetCore

<PageTitle>@EnglishLocalization.Active @EnglishLocalization.Appointments</PageTitle>

<ApplicationContainer>

    <div class="dataGridHeader" id="dataGridMyAppointmentsHeader">My appointments</div>

    <AppointmentsDataGrid Appointments="@mAppointments" 
                          IsEditable="true"
                          ActionButtonClicked="@(async (e) => await EditAppointmetAsync(e))" />

</ApplicationContainer>

<style>
    .pageContainer {
        height: 100%;
    }

    #dataGridMyAppointmentsHeader {
        background-color: @StateManager.User!.Color.NormalizedColor();
        color: @StateManager.User.Color.DarkOrWhite().NormalizedColor();
    }

</style>