@page "/professors/{Id}/schedule"

@inherits BasePage

@namespace MeetCore

<PageTitle>@EnglishLocalization.Schedule</PageTitle>

<ApplicationContainer>
    <div class="dataGridHeader" id="dataGridMyScheduleHeader">My schedule</div>

    <div class="staffMemberScheduleContainer">
        <Schedule WeeklySchedule="@Professor.WeeklySchedule"
                  Lectures="@Professor.Lectures"
                  PointerColor="@PaletteColors.Persimmon"
                  IsEditable="true"
                  EditButtonOnClick="@UpdateSchedule" />
    </div>
</ApplicationContainer>

<style>

    #dataGridMyScheduleHeader {
        background-color: @User.Color.NormalizedColor();
        color: @User.Color.DarkOrWhite().NormalizedColor();
    }

</style>

