@page "/professors/{Id}/form"

@inherits FormPage

@using static MeetBase.Blazor.PaletteColors
@using static MeetBase.Blazor.CssVariables

@using static MeetBase.Blazor.Personalization

@namespace MeetCore

<PageTitle>@EnglishLocalization.Form</PageTitle>

<ApplicationContainer>
    
    <MarkDownInput Text="@mDescription" Lines="5" TextChanged="@SaveFormDescription"/>

    <div class="formFieldsAndImageContainer">
        <div class="formFieldsContainer">
            <MudTextField T="string" Text="Type" ReadOnly="true" Variant="Variant.Outlined" Class="readonlyFormField" />
            <MudTextField T="string" Text="First name" ReadOnly="true" Variant="Variant.Outlined" Class="readonlyFormField" />
            <MudTextField T="string" Text="Last name" ReadOnly="true" Variant="Variant.Outlined" Class="readonlyFormField" />
            <MudTextField T="string" Text="Email" ReadOnly="true" Variant="Variant.Outlined" Class="readonlyFormField" />
            <MudTextField T="string" Text="Phone number" ReadOnly="true" Variant="Variant.Outlined" Class="readonlyFormField" />
            <MudTextField T="string" Text="Message" Lines="5" ReadOnly="true" Variant="Variant.Outlined" Class="readonlyFormField" />
            <MudCheckBox T="bool" Value="false" ReadOnly="true" Class="formCheckBox">Remote meeting</MudCheckBox>
            <MudButton Color="@Color.Info" Variant="@Variant.Filled" Class="readonlyFormButton">Set date</MudButton>
            <MudButton Color="@Color.Dark" Variant="@Variant.Filled" Class="readonlyFormButton">Actions</MudButton>
        </div>
        <div class="formImageContainer">
            <MudCarousel Class="mud-width-full" Style="height:16rem;" ShowArrows="false" ShowBullets="false" AutoCycle="@false" TData="object"
                         SelectedIndex="@mSelectedIndex">
                <MudCarouselItem Transition="@Transition.Slide">
                    <div class="formImage">
                        <CoffeeContactVector Color="@User!.Color" />
                    </div>
                </MudCarouselItem>
                <MudCarouselItem Transition="@Transition.Slide">
                    <div class="formImage">
                        <EmailContactVector Color="@User!.Color" />
                    </div>
                </MudCarouselItem>
                <MudCarouselItem Transition="@Transition.Slide">
                    <div class="formImage">
                        <CellPhoneCalendarVector Color="@User!.Color" />
                    </div>
                </MudCarouselItem>
            </MudCarousel>
            <div class="formCarouselImagesContainer">
                <div class="formCarouselImage @(mSelectedIndex == 0 ? "formCarouselImageSelected" : string.Empty)"
                     @onclick="@(() => SetSelectedIndex(0))">
                    <CoffeeContactVector Color="@User!.Color" />
                </div>
                <div class="formCarouselImage @(mSelectedIndex == 1 ? "formCarouselImageSelected" : string.Empty)"
                     @onclick="@(() => SetSelectedIndex(1))">
                    <EmailContactVector Color="@User!.Color" />
                </div>
                <div class="formCarouselImage @(mSelectedIndex == 2 ? "formCarouselImageSelected" : string.Empty)"
                     @onclick="@(() => SetSelectedIndex(2))">
                    <CellPhoneCalendarVector Color="@User!.Color" />
                </div>
            </div>

            <MarkDownInput Text="@mNote" Lines="4" TextChanged="@SaveFormNote" />

        </div>
    </div>

    <div class="formButtonsContainer">
        <TextButton Text="Cancel"
                    BackColor="transparent"
                    ForeColor="@Red"
                    HoverBackColor="@Red"
                    HoverForeColor="@White"
                    BorderRadius="0"
                    BoxShadow="none"
                    OnClick="@CancelButton_OnClickCore"
                    CssClasses="formButton" />
        <TextButton Text="Save"
                    BackColor="transparent"
                    ForeColor="@Green"
                    HoverBackColor="@Green"
                    HoverForeColor="@White"
                    BorderRadius="0"
                    BoxShadow="none"
                    OnClick="@SaveButton_OnClickCore"
                    CssClasses="formButton" />
    </div>
</ApplicationContainer>

<style>
    .formFieldsAndImageContainer {
        background-color: @User!.Color.HexToRGBA(0.4);
    }
    
    .readonlyFormButton {
        height: 40px;
        background:@White.NormalizedColor();
        color: @Amber.NormalizedColor();
        filter: @LightFilterDropShadow;
        border-radius: 12px;
        text-transform: none;
        font-weight: 600;
    }

</style>
