@page "/professors/{Id}"

@using static MeetBase.Blazor.PaletteColors
@using static MeetBase.Blazor.CssVariables

@using static MeetBase.Blazor.Personalization

@namespace MeetEdu

<PageTitle>@MeetEduConstants.AppName @Model?.User?.FirstName @Model?.User?.LastName</PageTitle>

<PageContainer Id="staffMemberPageAppContainer">
    
    @if (Model is not null && Model.User is not null)
    {
        <div class="staffMemberPageContainer">
            <div class="staffMemberContainer" style="@BorderBrushVariable.SetCssColor(Model.User.Color)">

                <div class="staffMemberRibbonContainer" style="@BackgroundVariable.SetCssColor(Model.User.Color) @ForegroundVariable.SetCssColor(Model.User.Color.DarkOrWhite())">
                    <div></div>
                    <div class="staffMemberRibbon">
                        <div class="staffMemberRibbonInfoContainer">
                            <span class="staffMemberRibbonInfo">@Model.User.LastName @Model.User.FirstName</span>
                            <span class="staffMemberRibbonInfoDetails">@Model.Rank</span>
                        </div>
                        <IconButton BackColor="transparent"
                                    ForeColor="@Model.User.Color.DarkOrWhite()"
                                    VectorSource="@IconPaths.HeartOutlinePath"
                                    HasAnimation="false"
                                    BoxShadow="none"
                                    CssClasses="professorRibbonHeartContainer" />
                    </div>
                </div>

                <div class="staffMemberInfoContainer" style="@ForegroundVariable.SetCssColor(Model.User.Color)">
                    <div class="staffMemberImageAndContactContainer">
                        <div class="staffMemberImageContainer">
                            <ImageWithFallbackIcon CssClasses="staffMemberImage"
                                                   ImageSource="@Model.User!.ImageUrl?.ToString()"
                                                   AspectRatio="1 / 1"
                                                   FallbackIconVectorSource="@IconPaths.AccountPath"
                                                   FallbackIconColor="@Model.User.Color"
                                                   FallbackIconBackground="@Model.User.Color.DarkOrWhite()"
                                                   FallbackIconMargin="1rem"
                                                   AlternateText="@Model.User.Username" />

                        </div>
                        <div class="staffMemberContactContainer">
                            <div class="staffMemberContactImage">
                                <MapMarkerVector Color="@Model.User.Color" />
                            </div>
                            <span class="staffMemberContactValue">@Model.User.Location?.Address</span>

                            <div class="staffMemberContactImage">
                                <CallVector Color="@Model.User.Color" />
                            </div>
                            <span class="staffMemberContactValue">+@Model.User.PhoneNumber</span>

                            <div class="staffMemberContactImage">
                                <EmailVector Color="@Model.User.Color" />
                            </div>
                            <span class="staffMemberContactValue">@Model.User.Email</span>

                        </div>
                    </div>
                    <div class="staffMemberPositionContainer">
                        <span class="staffMemberWeeklyScheduleTitle">Department</span>
                        <span class="staffMemberPosition">@Model.Department!.Name</span>
                    </div>
                    @if (!Model.Websites.IsNullOrEmpty())
                    {
                        <div id="professorWebsites" class="staffMemberPositionContainer">
                            <span class="staffMemberWeeklyScheduleTitle">Websites</span>
                            @foreach (var website in Model.Websites)
                            {
                                <span class="staffMemberPosition professorWebsiteTitle">
                                    <a href="@website.Link" target="_blank" rel="noopener noreferrer" style="@ForegroundVariable.SetCssColor(Model.User.Color)">@website.Name</a>
                                </span>
                            }
                        </div>
                    }
                    <div class="staffMemberWeeklyScheduleContainer">
                        <div class="staffMemberWeeklySchedule">
                            <span class="staffMemberWeeklyScheduleTitle">Office hours</span>
                        </div>
                        @if (Model.WeeklySchedule is not null)
                        {
                            @foreach (var schedule in Model.WeeklySchedule.WeeklyHours.OrderBy(x => x.DayOfWeek).GroupBy(x => x.DayOfWeek))
                            {
                                <div class="staffMemberWeeklyScheduleDayContainer">
                                    <span class="staffMemberWeeklyScheduleDay">@schedule.Key</span>
                                    @foreach (var timespan in schedule.OrderBy(x => x.Start))
                                    {
                                        <span class="staffMemberWeeklyScheduleTime">@timespan.Start.ToFormatedString(TimeOnlyExtensions.ShortTimeFormat) - @timespan.End.ToFormatedString(TimeOnlyExtensions.ShortTimeFormat)</span>
                                    }
                                </div>
                            }
                        }
                        <span class="staffMemberWeeklyScheduleNote">@Model.WeeklySchedule?.Note</span>
                    </div>
                </div>

                <div class="staffMemberPreviewMapContainer">
                    <div id="@Model.Id" class="staffMemberPreviewMap"></div>
                </div>
            </div>

            <div class="staffMemberQuoteContainer">
                <MudDivider DividerType="DividerType.Middle" Class="staffMemberPageDivider" />
                @if (!Model.Quote.IsNullOrEmpty())
                {
                    <span>"@Model.Quote"</span>
                    <MudDivider DividerType="DividerType.Middle" Class="staffMemberPageDivider" />
                }
            </div>

            <div class="professorResearchContainer">
                <span class="professorResearchTitle" style="@ForegroundVariable.SetCssColor(Model.User.Color)">Research interests</span>
                <MarkdownBlock Text="@Model.ResearchInterests" CssClass="textMarkDownContainer" />
            </div>
            
            @if(Model.WeeklySchedule is not null)
            {
                <span class="sectionHeader">Calendar</span>
                <div class="staffMemberScheduleContainer">
                    <Schedule WeeklySchedule="@Model.WeeklySchedule"
                              Lectures="@Model.Lectures"
                              IsEditable="false" />
                </div>
            }

            @if (!mLayouts.IsNullOrEmpty())
            {
                <div class="departmentPageLayoutSectionContainer">
                    <span class="sectionHeader">Office Layouts</span>
                    <div class="departmentPageLayoutsContainer">
                        @foreach (var departmentLayout in mLayouts)
                        {
                            <LayoutPresenter Model="@departmentLayout" />
                        }
                    </div>
                </div>
            }
            @if (Model.ContactMessageTemplate is not null)
            {
                <div class="departmentPageContactSectionContainer">
                    <span class="sectionHeader">Contact</span>
                    <div class="sectionDescription">
                        @Model.ContactMessageTemplate?.Description
                    </div>
                    <ProfessorContactForm FormTemplate="Model.ContactMessageTemplate" Professor="@Model" AppointmentRules="@mAppointmentRules"/>
                </div>
            }

        </div>
    }
</PageContainer>

<style>
    #staffMemberPageAppContainer {
        padding-bottom: 0;
    }

    .sectionHeader {
        background: @Model?.User?.Color.NormalizedColor();
        color: @Model?.User?.Color.DarkOrWhite().NormalizedColor();
    }

    .professorResearchContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: @VeryLargeGap;
        padding: @XXLargePadding;
    }

    .professorResearchTitle {
        position: relative;
        color: @ForegroundVariable.GetCssVariable();
        font-size: 112%;
        font-weight: 700;
    }

    .professorWebsiteTitle {
        grid-column-start: 2;
        font-weight: 700;
    }

    .staffMemberPageContainer {
        border: 1px solid @LightGray.NormalizedColor();
    }

    .staffMemberPageDivider {
        margin: 0 1rem;
    }

    .professorRibbonHeartContainer {
        position: relative;
        width: 2rem;
        height: 2rem;
        padding: 0;
    }

    .staffMemberPreviewMapContainer {
        grid-row-start: 1;
        grid-column-start: 2;
        grid-column-end: 3;
        position: relative;
        margin-top: 78px;
        width: 100%;
        height: fit-content;
        display: flex;
        padding: @LargePadding;
        z-index: 1;
        align-self: center;
    }

    .staffMemberPreviewMap {
        position: relative;
        width: 100%;
        height: 320px;
        border-radius: @LargeBorderRadius;
        border: solid 1px @Gray.NormalizedColor();
    }

    #professorWebsites {
        gap: 0;
    }

</style>

