@page "/search"

@using static MeetBase.PaletteColors
@using static Atom.Blazor.Personalization

@namespace MeetEdu

<PageTitle>@MeetEduConstants.AppName" Search</PageTitle>

<Header AppName="@MeetEduConstants.AppName"
        Username="Lime"
        BackColor="@Blue"
        ForeColor="@White" />

<div class="backgroundContainer">
    <img class="backgroundImageTopLeft" src="icons/blob2.png" alt="blob">
    <img class="backgroundImageTopRight" src="icons/blob1.png" alt="blob" />
    <img class="backgroundImageBottomLeft" src="icons/blob1.png" alt="blob" />
    <img class="backgroundImageBottomRight" src="icons/blob2.png" alt="blob" />
</div>

<div class="appContainer searchPageContainer">
    <div class="searchPageSearchBarContainer">
        <SearchBar @bind-Text="@SearchText" />
    </div>

    <DepartmentPreview />
    <DepartmentPreview />

  @*<div class="searchPageProfessorsContainer">
        <ProfessorPreview />
        <ProfessorPreview />
        <ProfessorPreview />
    </div>*@
    
</div>

<style>
    .searchPageContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding: 40px;
    }

    .searchPageSearchBarContainer {
        position: relative;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .searchPageProfessorsContainer {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: @VeryVeryLargeGap;
    }

    @@media screen and (max-width: 1400px) {
        .searchPageSearchBarContainer {
            width: 100%;
        }

        .searchPageProfessorsContainer {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @@media screen and (max-width: 960px) {

        .searchPageProfessorsContainer {
            grid-template-columns: 1fr;
        }
    }



</style>
