@using static MeetBase.Blazor.PaletteColors
@using static MeetBase.Blazor.CssVariables

@using static MeetBase.Blazor.Personalization

@namespace MeetCore

<div class="textContainer">
    @if (mIsTextReadOnly)
    {
        <MarkdownBlock Text="@Text" CssClass="textMarkDownContainer" />
        <span class="textDivider"></span>
    }
    else
    {
        <MudTextField T="string" Placeholder="The department layout's additional information"
                        FullWidth="true"
                        Variant="Variant.Text"
                        ReadOnly="@mIsTextReadOnly"
                        Lines="5"
                        @bind-Text="@mInputText" />
    }

    <div class="editTextButtonsContainer">
        @if (mIsTextReadOnly)
        {
            <IconButton BackColor="@White"
                        ForeColor="@Amber"
                        BorderRadius="@LargeBorderRadius"
                        VectorSource="@IconPaths.PencilOutlinePath"
                        OnClick="@EditButton_OnClick"
                        CssClasses="editButton" />
        }
        else
        {
            <IconButton BackColor="@White"
                        ForeColor="@Green"
                        BorderRadius="@($"{LargeBorderRadius} 0 0 {LargeBorderRadius}")"
                        VectorSource="@IconPaths.CheckPath"
                        OnClick="@SaveButton_Onclick"
                        CssClasses="editButton" />
            <IconButton BackColor="@White"
                        ForeColor="@Persimmon"
                        BorderRadius="@($"0 {LargeBorderRadius} {LargeBorderRadius} 0")"
                        VectorSource="@IconPaths.ClosePath"
                        OnClick="@CancelButton_Onclick"
                        CssClasses="editButton" />
        }
    </div>
</div>

<style>

    .textMarkDownContainer {
        width: 100%;
        min-height: 124px;
        font-size: 1rem;
        padding: 21px 0;
    }

    .textDivider {
        width: 100%;
        height: 0px;
        border-bottom: solid 1px @LightGray.NormalizedColor();
        border-style: dashed;
    }

</style>