@using static PaletteColors
@using static Personalization

@namespace MeetBase.Blazor

<div class="phoneNumberInputWrapper" style="width:100%;">
<div class="phoneNumberInputContainer @CssClasses">
    <div class="phoneNumberInputFlagContainer" @onclick="@Flag_OnClick">
        <img class="phoneNumberInputFlag" src="@($"./flags/4x3/{Country?.IsoCodes?.FirstOrDefault()}.svg")"/>
        <svg class="phoneNumberInputIcon @( mIsSearchBoxVisible ? "phoneNumberInputArrowPointingTop" : "phoneNumberInputArrowPointingBottom")"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path fill="currentColor" d="M7 10l5 5 5-5z" />
        </svg>
    </div>

    <div class="phoneNumberInputFieldArea">
        @if(Country is not null)
        {
            <span class="phoneNumberInputCountryCode">+@Country.CountryCode</span>
        }

        <MudTextField T="string" Value="@Text" OnDebounceIntervalElapsed="@TextInput_ValueChanged" DebounceInterval="100"
                    Placeholder="@Placeholder"
                    DisableUnderLine="true"
                    FullWidth="true"
                    UserAttributes="@(new Dictionary<string, object>() { { "autocomplete", "one-time-code" } })"
                    Mask="@(new PatternMask(Pattern))"
                    Class="phoneNumberInput"/>           
    </div>
</div>

@if(mIsSearchBoxVisible)
{
    <MudAutocomplete T="CountryData" Value="Country" ValueChanged="@Search_ValueChanged" 
                     Placeholder="Search for a country"
                     DisableUnderLine="true"
                     SearchFunc="@Search"
                     IsOpenChanged="@SearchInput_IsOpen"
                     FullWidth="false"
                     Class="phoneNumberInputSearchContainer"
                     PopoverClass="phoneNumberInputValues"
                     Style="@mSearchBoxStyle"
                     Adornment="@Adornment.Start"
                     AdornmentIcon="@Icons.Material.Filled.Search"
                     ToStringFunc="@(e => e == null ? null : $"{e.Country} (+{e.CountryCode})")">
        <ItemTemplate Context="e">
            <MudText>
                @if (e is not null)
                {
                    <div class="phoneNumberInputSearchValue">
                        <img class="phoneNumberInputFlag" src="@($"./flags/4x3/{e?.IsoCodes?.FirstOrDefault()}.svg")" />
                        <span class="phoneNumberInputSearchValueText">@e!.Country (+@e.CountryCode)</span>
                    </div>
                }
            </MudText>
        </ItemTemplate>
        <ItemSelectedTemplate Context="e">
            <MudText>
                @if(e is not null)
                {
                    <div class="phoneNumberInputSearchSelectedValue">
                        <div class="phoneNumberInputSearchSelectedValue">
                                <img class="phoneNumberInputFlag" src="@($"./flags/4x3/{e?.IsoCodes?.FirstOrDefault()}.svg")" />
                            <span class="phoneNumberInputSearchValueText">@e!.Country (+@e.CountryCode)</span>
                        </div>
                        <svg class="phoneNumberInputIcon phoneNumberInputSearchValueIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path fill="currentColor" d="M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z" />
                        </svg>
                    </div>
                }
            </MudText>
        </ItemSelectedTemplate>
    </MudAutocomplete>
}
</div>
<style>
    .phoneNumberInputWrapper {
        width: 100%;
    }

    .phoneNumberInputContainer {
        position: relative;
        height: 48px;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        border-radius: 8px;
        border: solid @White.ToDarkerColor(4).NormalizedColor() 1px;
        overflow: hidden;
    }

    .phoneNumberInputFlagContainer {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4px;
        background: @White.ToDarkerColor(1).NormalizedColor();
        cursor: pointer;
        padding: 0 1rem;
    }

    .phoneNumberInputFlag {
        width: 16px;
        height: auto;
    }

    .phoneNumberInputIcon {
        width: 20px;
        color: @White.ToDarkerColor(8).NormalizedColor();
        transition: all 0.2s ease-in-out; 
    }

    .phoneNumberInputArrowPointingTop {
        transform: rotate(180deg);
    }

    .phoneNumberInputArrowPointingBottom {
        transform: rotate(360deg);
    }

    .phoneNumberInputFieldArea {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 0.5rem;
    }

    .phoneNumberInputCountryCode {
        position: relative;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        color: @White.ToDarkerColor(10).NormalizedColor();
    }

    .phoneNumberInput {
        width: 100%;
        height: 100%;
        color: @DarkGray.NormalizedColor();
        border: 0;
    }

        .phoneNumberInput.mud-input-control {
            margin: 0;
        }

            .phoneNumberInput.mud-input-control > .mud-input-control-input-container {
                height: 100%;
                margin: 0;
            }

            .phoneNumberInput.mud-input-control > .mud-input-control-input-container > div.mud-input.mud-input-text {
                    height: 100%;
                    margin: 0;
            }

    .phoneNumberInputSearchContainer.mud-input-control > .mud-input-control-input-container {
        padding: 0 1rem;
    }

    .phoneNumberInputSearchContainer {
        position: absolute;
        top: 0.5rem;
        left: 0rem;
        max-width: 320px;
        border-radius: 8px;
        height: 40px;
        justify-content:center;
        background: @White.NormalizedColor();
        z-index: 1204;
        margin: 0;
    }

    .phoneNumberInputSearchContainer.mud-input-control > .mud-input-control-input-container > div.mud-input.mud-input-text {
        margin: 0;
    }

    .phoneNumberInputSearchValue {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }

    .phoneNumberInputSearchSelectedValue {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    .phoneNumberInputValues.mud-elevation-8 {
        box-shadow: none;
        border: solid @White.ToDarkerColor(1).NormalizedColor() 1px;
        border-radius: 8px;
        padding-top: 32px;
        margin-top: -36px;
        background: @White.NormalizedColor();
        filter: @LightFilterDropShadow;
    }

    .phoneNumberInputValues.overflow-y-auto {
        overflow: hidden;
    }

    .phoneNumberInputValues.mud-popover:not(.mud-popover-open) {
        left: 0;
    }

</style>