@page "/secretaries/{Id}"
@page "/secretaries/{Id}/profile"

@inherits BasePage

@using static MeetBase.Blazor.PaletteColors
@using static MeetBase.Blazor.CssVariables

@using static MeetBase.Blazor.Personalization

@namespace MeetCore

<PageTitle>@EnglishLocalization.Profile</PageTitle>

<ApplicationContainer>

    <div class="staffMemberContainer">

        <div class="staffMemberRibbonContainer" style="@BackgroundVariable.SetCssColor(Orange) @ForegroundVariable.SetCssColor(Orange.DarkOrWhite())">
            <div></div>
            <div class="staffMemberRibbon">
                <div class="staffMemberRibbonInfoContainer">Papadopoulou Aikaterini</div>
            </div>
        </div>

        <div class="staffMemberInfoContainer">
            <div class="staffMemberImageAndContactContainer">
                <div class="staffMemberImageContainer">
                    <img class="staffMemberImage" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/12532de5-e93d-4cd5-9bbe-cace0d45f7a9/dfkmgsu-b74af07f-b32d-421a-8f83-128888c3de10.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzEyNTMyZGU1LWU5M2QtNGNkNS05YmJlLWNhY2UwZDQ1ZjdhOVwvZGZrbWdzdS1iNzRhZjA3Zi1iMzJkLTQyMWEtOGY4My0xMjg4ODhjM2RlMTAucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.qFaI6FaJVlQVxEutx_3Njb3vspI_lNc7ttINRPsf-TU" alt="name" />
                </div>
                <div class="staffMemberContactContainer">
                    <div class="staffMemberContactImage">
                        <TelephoneVector Color="@Red"/>
                    </div>
                    <span class="staffMemberContactValue">6944 511393</span>

                    <div class="staffMemberContactImage">
                        <EmailMultipleVector Color="@Red" />
                    </div>
                    <span class="staffMemberContactValue">6944 511393</span>

                    <div class="staffMemberContactImage">
                        <MapMarkerVector Color="@Red" />
                    </div>
                    <span class="staffMemberContactValue">6944 511393</span>

                </div>
            </div>
            <div class="staffMemberPositionContainer">
                <span class="staffMemberWeeklyScheduleTitle" style="@ForegroundVariable.SetCssColor(Orange)">Department</span>
                <span class="staffMemberPosition">Computer Engineering & Informatics</span>
            </div>
            <div class="staffMemberWeeklyScheduleContainer">
                <div class="staffMemberWeeklySchedule">
                    <span class="staffMemberWeeklyScheduleTitle" style="@ForegroundVariable.SetCssColor(Orange)">Schedule</span>
                </div>
                <div class="staffMemberWeeklyScheduleDayContainer">
                    <span class="staffMemberWeeklyScheduleDay">Monday</span>
                    <span class="staffMemberWeeklyScheduleTime">09:30 - 13:00</span>
                    <span class="staffMemberWeeklyScheduleTime">19:00 - 20:00</span>
                </div>
                <div class="staffMemberWeeklyScheduleDayContainer">
                    <span class="staffMemberWeeklyScheduleDay">Wednesday</span>
                    <span class="staffMemberWeeklyScheduleTime">19:00 - 20:00</span>
                </div>
                <span class="staffMemberWeeklyScheduleNote">Any other time outside of the working schedule of the secretary office needs prior notice.</span>
            </div>
        </div>
    </div>

    <CallVector Color="@Red" />


    <div>
        <Schedule/>
    </div>
</ApplicationContainer>


<style>
    .staffMemberContainer {
        position: relative;
        width: 100%;
        height: auto;
        min-width: 420px;
        display: grid;
        grid-template-columns: 1fr;
        padding: @VeryLargePadding;
    }

    .staffMemberHeaderContainer {
        position: absolute;
        width: 100%;
        height: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: @LargeGap;
        padding-left: 184px;
        background: @BackgroundVariable.GetCssVariable();
        color: @ForegroundVariable.GetCssVariable();
    }

    .staffMemberRibbonContainer {
        position: absolute;
        width: 100%;
        height: 60px;
        top: 36px;
        display: grid;
        grid-template-columns: 160px 1fr;
        gap: @VeryLargeGap;
        padding: @NormalPadding;
        background: @BackgroundVariable.GetCssVariable();
        color: @ForegroundVariable.GetCssVariable();
        font-size: 120%;
        font-weight: 600;
    }

    .staffMemberImageContainer {
        position: relative;
        width: 160px;
        height: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        background: @White.NormalizedColor();
        filter: @LightFilterDropShadow;
        border-radius: @LargeBorderRadius;
        border: solid 1px @BorderBrushVariable.GetCssVariable();
        overflow: hidden;
    }

    .staffMemberPositionContainer {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-items: start;
        gap: @MediumGap;
        padding: @VeryLargePadding @VeryLargePadding 0 @VeryLargePadding;
    }

    .staffMemberPosition {
        text-align: right;
    }

    .staffMemberWeeklyScheduleContainer {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: @MediumGap @VeryLargeGap;
        padding: @VeryLargePadding;
    }

    .staffMemberWeeklyScheduleNote {
        grid-column-start: 1;
        grid-column-end: 3;
        font-size: 92%;
    }


    .staffMemberContainer {
        position: relative;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 3fr 2fr;
        border-radius: @VeryLargeBorderRadius;
        border: solid 1px @BorderBrushVariable.GetCssVariable();
    }

    .staffMemberRibbonContainer {
        position: absolute;
        width: 100%;
        height: 80px;
        top: 24px;
        display: grid;
        grid-template-columns: 200px 1fr;
        gap: @VeryLargeGap;
        padding: 0 @LargePadding;
        background: @BackgroundVariable.GetCssVariable();
        color: @ForegroundVariable.GetCssVariable();
    }

    .staffMemberRibbon {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .staffMemberRibbonInfoContainer {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .staffMemberRibbonInfo {
        font-size: 140%;
        font-weight: 700;
    }

    .staffMemberRibbonInfoDetails {
        position: relative;
        display: flex;
        align-items: center;
        gap: @VeryLargeGap;
    }

    .staffMemberInfoContainer {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: @VeryVeryLargeGap;
        padding: @LargePadding;
    }

    .staffMemberImageAndContactContainer {
        position: relative;
        height: 200px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        gap: @LargeGap;
    }

    .staffMemberImageContainer {
        position: relative;
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: @White.NormalizedColor();
        border-radius: @LargeBorderRadius;
        filter: @LightFilterDropShadow;
        border: solid 1px @BorderBrushVariable.GetCssVariable();
    }

    .staffMemberImage {
        position: relative;
        width: 100%;
        height: 100%;
        filter: @LightFilterDropShadow;
    }

    .staffMemberContactContainer {
        position: relative;
        display: grid;
        grid-template-columns: 28px 1fr;
        grid-auto-rows: 28px;
        align-items: center;
        gap: @MediumGap;
    }

    .staffMemberContactImage {
        position: relative;
        width: 28px;
        height: 28px;
        filter: @LightFilterDropShadow;
    }

    .staffMemberWeeklyScheduleContainer {
        position: relative;
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: @MediumGap @VeryLargeGap;
    }

    .staffMemberWeeklySchedule {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: @LargeGap;
    }

    .staffMemberWeeklyScheduleTitle {
        font-size: 112%;
        font-weight: 700;
        color: @ForegroundVariable.GetCssVariable();
    }

    .staffMemberWeeklyScheduleNote {
        font-size: 92%;
    }

    .staffMemberWeeklyScheduleDayContainer {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 2fr;
        justify-items: right;
        gap: @MediumGap;
    }

    .staffMemberWeeklyScheduleDay {
        font-weight: 600;
    }

    .staffMemberWeeklyScheduleTime {
        grid-column-start: 2;
    }


    @@media screen and (max-width: 440px) {

        .staffMemberImageAndContactContainer {
            height: 160px;
        }

        .staffMemberContainer {
            min-width: 360px;
            width: 360px;
            font-size: 90%;
        }

        .staffMemberHeaderContainer {
            gap: @LargeGap;
            padding-left: 140px;
        }

        .staffMemberRibbonContainer {
            grid-template-columns: 132px 1fr;
        }

        .staffMemberImageContainer {
            width: 120px;
            height: 120px;
        }

        .staffMemberPositionContainer {
            padding: @LargePadding @LargePadding 0 @LargePadding;
        }

        .staffMemberWeeklyScheduleContainer {
            gap: @MediumGap @LargeGap;
            padding: @LargePadding;
        }
    }

</style>