@page "/secretaries/{Id}/faculty"

@inherits BasePage

@using static MeetBase.Blazor.PaletteColors
@using static MeetBase.Blazor.CssVariables

@using static MeetBase.Blazor.Personalization

@namespace MeetCore

<PageTitle>@EnglishLocalization.Faculty</PageTitle>

<ApplicationContainer>
    @if(!mProfessors.IsNullOrEmpty())
    {
        <MudDataGrid Items="@mProfessors" T="ProfessorResponseModel" ReadOnly="false" 
                     EditMode="@DataGridEditMode.Form" EditTrigger="@DataGridEditTrigger.Manual" 
                     CommittedItemChanges="@EditProfessorRank" Bordered="true">
            <Columns>
                <TemplateColumn Title="Image" Sortable="false" CellStyle="max-width: 4rem;" IsEditable="false">
                    <CellTemplate>
                        <img class="dataGridCirculraImage" src="@(context.Item.User!.ImageUrl?.ToString() ?? "./icons/teaching.png")" alt="user image"/>
                     </CellTemplate>
                 </TemplateColumn>
                <PropertyColumn Property="x => x.User!.FirstName" Title="First name" IsEditable="false"/>
                <PropertyColumn Property="x => x.User!.LastName" Title="Last name" IsEditable="false" />
                <PropertyColumn Property="x => x.Rank" Title="Rank" IsEditable="true">
                    <EditTemplate>
                        <MudSelect T="ProfessorRank" @bind-Value="@context.Item.Rank"
                                   Placeholder="Rank"
                                   Class="dialogInput"
                                   FullWidth="true"
                                   Variant="Variant.Text"
                                   Adornment="Adornment.Start"
                                   AdornmentIcon="@MudIconPaths.Account"
                                   AnchorOrigin="Origin.BottomCenter">
                            @foreach (var value in Enum.GetValues<ProfessorRank>())
                            {
                                <MudSelectItem Value="@value">@value</MudSelectItem>
                            }
                        </MudSelect>
                     </EditTemplate>
                </PropertyColumn>
                <TemplateColumn Title="Color" Sortable="false" CellStyle="min-width: 8rem;" IsEditable="false">
                    <CellTemplate>
                        <span class="dataGridColor" style="background-color: @context.Item.User!.Color.NormalizedColor();"></span>
                    </CellTemplate>
                </TemplateColumn>
                <TemplateColumn StickyRight="true" CellStyle="max-width: 3rem;" Sortable="false">
                    <CellTemplate>
                        <IconButton BackColor="transparent"
                                    ForeColor="@Gray"
                                    VectorSource="@IconPaths.PencilOutlinePath"
                                    BoxShadow="none"
                                    OnClick="@context.Actions.StartEditingItemAsync"
                                    CssClasses="dataGridButton" />
                    </CellTemplate>
                </TemplateColumn>
                <TemplateColumn StickyRight="true" CellStyle="max-width: 3rem;" Sortable="false">
                    <CellTemplate>
                        <IconButton BackColor="transparent"
                                    ForeColor="@Red"
                                    VectorSource="@IconPaths.TrashCanOutlinePath"
                                    BoxShadow="none"
                                    OnClick="@(() => RemoveProfessor(context.Item))"
                                    CssClasses="dataGridButton" />
                    </CellTemplate>
                </TemplateColumn>
            </Columns>
        </MudDataGrid>
    }
</ApplicationContainer>

<IconButton BackColor="@White"
            ForeColor="@Amber"
            VectorSource="@IconPaths.PlusPath"
            BorderRadius="@CircleBorderRadius"
            OnClick="AddProfessor"
            CssClasses="editButton layoutAddButton" />

<style>

    .pageContainer {
        height: 100%;
    }

    .mud-dialog .mud-dialog-content {
        padding-right: 24px !important;
    }

</style>