@page "/secretaries/{Id}/information"

@inherits BasePage

@namespace MeetCore

<PageTitle>@EnglishLocalization.Information</PageTitle>

<ApplicationContainer>
    <div class="departmentContainer">
        <div class="departmentImageAndNameContainer">
            <img class="departmentImage" src="@mDepartment.ImageUrl?.ToString()" alt="department image"/>

            <div class="departmentFieldContainer">
                <span class="departmentFieldTitle">Department</span>
                @if(mIsEditActive)
                {
                    <MudTextField @bind-Value="@mDepartment.Name"
                                  Placeholder="Name"
                                  Class="departmentFieldInput"
                                  FullWidth="true"
                                  Variant="Variant.Text"
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@MudIconPaths.Account" />
                }
                else
                {
                    <span class="departmentFieldValue">@mDepartment.Name</span>
                }
            </div>
            <div class="departmentFieldContainer">
                <span class="departmentFieldTitle">University</span>
                @if (mIsEditActive)
                {
                    <MudTextField @bind-Value="@mDepartment.UniversityId"
                                  Placeholder="University"
                                  Class="departmentFieldInput"
                                  FullWidth="true"
                                  Variant="Variant.Text"
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@MudIconPaths.Account" />
                }
                else
                {
                    <span class="departmentFieldValue">@mDepartment.UniversityId</span>
                }
            </div>
            <div class="departmentFieldContainer">
                <span class="departmentFieldTitle">Category</span>
                @if (mIsEditActive)
                {
                    <MudSelect T="DepartmentType" @bind-Value="@mDepartmentType"
                               Placeholder="Category"
                               Class="departmentFieldInput"
                               FullWidth="true"
                               Variant="Variant.Text"
                               Adornment="Adornment.Start"
                               AdornmentIcon="@MudIconPaths.Account"
                               AnchorOrigin="Origin.BottomCenter">
                        @foreach (var value in Enum.GetValues<DepartmentType>())
                        {
                            <MudSelectItem Value="@value">@value</MudSelectItem>
                        }
                    </MudSelect>
                }
                else
                {
                    <span class="departmentFieldValue">@mDepartment.Category</span>
                }
            </div>
            <div class="departmentFieldContainer">
                <span class="departmentFieldTitle">Category</span>
                @if (mIsEditActive)
                {
                    <MudColorPicker Placeholder="Color" @bind-Text="@mRequest.Color"
                                    Style="@($"color: {mRequest.Color};")"
                                    DisableModeSwitch="false"
                                    DisableToolbar="false"
                                    Class="departmentFieldInput colorInput"
                                    Adornment="@Adornment.Start"
                                    AdornmentIcon="@Icons.Material.Filled.Palette"
                                    PickerVariant="PickerVariant.Inline"
                                    DisableAlpha="true" />
                }
                else
                {
                    <span class="departmentFieldValue">@mDepartment.Color</span>
                }
            </div>
        </div>
    </div>
</ApplicationContainer>

<style>


</style>