@page "/secretaries/{Id}"
@page "/secretaries/{Id}/profile"

@inherits BasePage

@using static MeetBase.Blazor.PaletteColors
@using static MeetBase.Blazor.CssVariables

@using static MeetBase.Blazor.Personalization

@namespace MeetCore

<PageTitle>@EnglishLocalization.Profile</PageTitle>

<ApplicationContainer>

    <div class="staffMemberContainer" style="@BorderBrushVariable.SetCssColor(User.Color)">

        <div class="staffMemberRibbonContainer" style="@BackgroundVariable.SetCssColor(User.Color) @ForegroundVariable.SetCssColor(User.Color.DarkOrWhite())">
            <div></div>
            <div class="staffMemberRibbon">
                <div class="staffMemberRibbonInfoContainer">
                    <span class="staffMemberRibbonInfo">@User.LastName @User.FirstName</span>
                    <span class="staffMemberRibbonInfoDetails">@Secretary.Role</span>
                </div>
                <IconButton BackColor="transparent"
                            ForeColor="@White"
                            VectorSource="@IconPaths.PencilOutlinePath"
                            BoxShadow="none"
                            OnClick="@UpdateSecretary"
                            CssClasses="staffmemberRibbonEditContainer" />
            </div>
        </div>

        <div class="staffMemberInfoContainer">
            <div class="staffMemberImageAndContactContainer">
                <div class="staffMemberImageContainer">
                    <img class="staffMemberImage" src="@User.ImageUrl?.ToString()" alt="name" />
                </div>
                <div class="staffMemberContactContainer">
                    <div class="staffMemberContactImage">
                        <EmailMultipleVector Color="@User.Color" />
                    </div>
                    <span class="staffMemberContactValue">@StateManager.Department?.Email</span>

                    <div class="staffMemberContactImage">
                        <CallVector Color="@User.Color" />
                    </div>
                    <span class="staffMemberContactValue">+@User.PhoneNumber</span>

                    <div class="staffMemberContactImage">
                        <EmailVector Color="@User.Color" />
                    </div>
                    <span class="staffMemberContactValue">@User.Email</span>

                </div>
            </div>
            <div class="staffMemberPositionContainer">
                <span class="staffMemberWeeklyScheduleTitle" style="@ForegroundVariable.SetCssColor(User.Color)">Department</span>
                <span class="staffMemberPosition">@StateManager.Department?.Name</span>
            </div>
            <div class="staffMemberWeeklyScheduleContainer">
                <div class="staffMemberWeeklySchedule">
                    <span class="staffMemberWeeklyScheduleTitle" style="@ForegroundVariable.SetCssColor(User.Color)">Schedule</span>
                </div>
                @if (Secretary.WeeklySchedule is not null)
                {
                    @foreach (var schedule in Secretary.WeeklySchedule.WeeklyHours.OrderBy(x => x.DayOfWeek).GroupBy(x => x.DayOfWeek))
                    {
                        <div class="staffMemberWeeklyScheduleDayContainer">
                            <span class="staffMemberWeeklyScheduleDay">@schedule.Key</span>
                            @foreach (var timespan in schedule.OrderBy(x => x.Start))
                            {
                                <span class="staffMemberWeeklyScheduleTime">@timespan.Start.ToFormatedString(TimeOnlyExtensions.ShortTimeFormat) - @timespan.End.ToFormatedString(TimeOnlyExtensions.ShortTimeFormat)</span>
                            }
                        </div>
                    }
                }
                <span class="staffMemberWeeklyScheduleNote">Any other time outside of the working schedule of the secretary office needs prior notice.</span>
            </div>
        </div>

        <div class="locationContainer" style="margin-bottom: @mBottomMargin;">
            <LocationPointer MapId="@Secretary.Id" Color="@Secretary.User?.Color" Location="@Secretary.User?.Location" IsReadOnly="true"/>
        </div>
    </div>

    <div class="staffMemberQuoteContainer">
        <MudDivider DividerType="DividerType.Middle" Class="my-6" />
        <span>"@Secretary.Quote"</span>
        <MudDivider DividerType="DividerType.Middle" Class="my-6" />
    </div>

    <div class="staffMemberScheduleContainer">
        <Schedule WeeklySchedule="@Secretary.WeeklySchedule"
                  IsEditable="true"
                  EditButtonOnClick="@UpdateSchedule" />
    </div>
</ApplicationContainer>

<style>
    
</style>