@page "/secretaries/{Id}/form"

@inherits BasePage

@using static MeetBase.Blazor.PaletteColors
@using static MeetBase.Blazor.CssVariables

@using static MeetBase.Blazor.Personalization

@namespace MeetCore

<PageTitle>@EnglishLocalization.Form</PageTitle>

<ApplicationContainer>
    
    <MarkDownInput Text="@mText" TextChanged="@SaveFormDescription"/>

    <div class="secretaryFormFieldsAndImageContainer">
        <div class="secretaryFormFieldsContainer">
            <FieldCheckBox Text="First name" @bind-IsChecked="@mIsFirstNameChecked" />
            <FieldCheckBox Text="Last name" @bind-IsChecked="@mIsLastNameChecked"/>
            <FieldCheckBox Text="Email" IsChecked="@mIsEmailChecked" IsCheckedChanged="@EmailCheckbox_IsCheckedChanged" />
            <FieldCheckBox Text="Phone number" IsChecked="mIsPhoneNumberChecked" IsCheckedChanged="@PhoneNumberCheckbox_IsCheckedChanged" />
            <MudTextField T="string" Text="Message" Lines="5" ReadOnly="true" Variant="Variant.Outlined" Class="fieldCheckBoxTextField" />
        </div>
        <div class="secretaryFormImageContainer">
            <MudCarousel Class="mud-width-full" Style="height:16rem;" ShowArrows="false" ShowBullets="false" AutoCycle="@false" TData="object"
                         SelectedIndex="@mSelectedIndex">
                <MudCarouselItem Transition="@Transition.Slide">
                    <div class="secretaryFormImage">
                        <CoffeeContactVector Color="@Department!.Color" />
                    </div>
                </MudCarouselItem>
                <MudCarouselItem Transition="@Transition.Slide">
                    <div class="secretaryFormImage">
                        <EmailContactVector Color="@Department!.Color" />
                    </div>
                </MudCarouselItem>
                <MudCarouselItem Transition="@Transition.Slide">
                    <div class="secretaryFormImage">
                        <CellPhoneCalendarVector Color="@Department!.Color" />
                    </div>
                </MudCarouselItem>
            </MudCarousel>
            <div class="secretaryFormCarouselImagesContainer">
                <div class="secretaryFormCarouselImage @(mSelectedIndex == 0 ? "secretaryFormCarouselImageSelected" : string.Empty)"
                     @onclick="@(() => SetSelectedIndex(0))">
                    <CoffeeContactVector Color="@Department!.Color" />
                </div>
                <div class="secretaryFormCarouselImage @(mSelectedIndex == 1 ? "secretaryFormCarouselImageSelected" : string.Empty)"
                     @onclick="@(() => SetSelectedIndex(1))">
                    <EmailContactVector Color="@Department!.Color" />
                </div>
                <div class="secretaryFormCarouselImage @(mSelectedIndex == 2 ? "secretaryFormCarouselImageSelected" : string.Empty)"
                     @onclick="@(() => SetSelectedIndex(2))">
                    <CellPhoneCalendarVector Color="@Department!.Color" />
                </div>
            </div>
        </div>
    </div>

    <div class="secretaryFormButtonsContainer">
        <TextButton Text="Cancel"
                    BackColor="transparent"
                    ForeColor="@Red"
                    HoverBackColor="@Red"
                    HoverForeColor="@White"
                    BorderRadius="0"
                    BoxShadow="none"
                    OnClick="@CancelButton_OnClick"
                    CssClasses="secretaryFormButton" />
        <TextButton Text="Save"
                    BackColor="transparent"
                    ForeColor="@Green"
                    HoverBackColor="@Green"
                    HoverForeColor="@White"
                    BorderRadius="0"
                    BoxShadow="none"
                    OnClick="@SaveButton_OnClick"
                    CssClasses="secretaryFormButton" />
    </div>
</ApplicationContainer>

<style>
    .secretaryFormFieldsAndImageContainer {
        position: relative;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 4rem 2rem;
        gap: 2rem;
        margin: 2rem 0;
        background-color: @Department!.Color.HexToRGBA(0.4);
    }

    .secretaryFormFieldsContainer, .secretaryFormImageContainer {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: @VeryLargeGap;
    }

    .secretaryFormImage {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: @VeryLargePadding;
        filter: @LightFilterDropShadow;
    }

    .secretaryFormCarouselImagesContainer {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: @LargeGap;
    }

    .secretaryFormCarouselImage {
        position: relative;
        width: 4rem;
        height: 4rem;
        padding: @NormalPadding;
        border-radius: @NormalBorderRadius;
        filter: @LightFilterDropShadow;
        cursor: pointer;
        border: solid 2px @White.NormalizedColor();
    }

    .secretaryFormCarouselImageSelected {
        background-color: @White.NormalizedColor();
    }

    .secretaryFormButtonsContainer {
        position: relative;
        width: 100%;
        height: 7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: @White.NormalizedColor();
    }

    .secretaryFormButton {
        width: 50%;
        height: 52px;
        font-size: 140%;
    }

</style>