@page "/secretaries/{Id}/form"

@inherits BasePage

@using static MeetBase.Blazor.PaletteColors
@using static MeetBase.Blazor.CssVariables

@using static MeetBase.Blazor.Personalization

@namespace MeetCore

<PageTitle>@EnglishLocalization.Form</PageTitle>

<ApplicationContainer>
    
    <MarkDownInput Text="@mText" TextChanged="@SaveFormDescription"/>

    <div class="secretaryFormFieldsAndImageContainer">
        <div class="secretaryFormFieldsContainer">
            <FieldCheckBox Text="First name" @bind-IsChecked="@mIsFirstNameChecked" />
            <FieldCheckBox Text="Last name" @bind-IsChecked="@mIsFirstNameChecked"/>
            <FieldCheckBox Text="Email" @bind-IsChecked="@mIsFirstNameChecked" />
            <FieldCheckBox Text="Phone number" @bind-IsChecked="@mIsFirstNameChecked" />
        </div>
        <div class="secretaryFormImageContainer">

        </div>
    </div>

</ApplicationContainer>

<style>
    .secretaryFormFieldsAndImageContainer {
        position: relative;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem;
        gap: 2rem;
        margin: 2rem 0;
        background-color: @StateManager.Department!.Color.HexToRGBA(0.4);
    }

    .secretaryFormFieldsContainer, .secretaryFormImageContainer {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: @VeryLargeGap;
    }

</style>