@page "/secretaries/{Id}/faculty"

@inherits BasePage

@using static MeetBase.Blazor.PaletteColors
@using static MeetBase.Blazor.CssVariables

@using static MeetBase.Blazor.Personalization

@namespace MeetCore

<PageTitle>@EnglishLocalization.Faculty</PageTitle>

<ApplicationContainer>
    <h3>Faculty</h3>
</ApplicationContainer>

<IconButton BackColor="@White"
            ForeColor="@Amber"
            VectorSource="@IconPaths.PlusPath"
            BorderRadius="@CircleBorderRadius"
            CssClasses="layoutButton layoutAddButton" />

<style>

    .layoutButton {
        width: 3rem;
        height: 3rem;
        padding: 8px;
        cursor: pointer;
    }

    .layoutAddButton {
        position: absolute;
        bottom: @XXLargePadding;
        right: @XXLargePadding;
    }

</style>