@page "/secretaries/{Id}/inbox"

@inherits BasePage

@using static MeetBase.Blazor.PaletteColors
@using static MeetBase.Blazor.CssVariables

@using static MeetBase.Blazor.Personalization

@namespace MeetCore

<PageTitle>@EnglishLocalization.Inbox</PageTitle>

<ApplicationContainer>
    @if (!mDepartmentMessages.IsNullOrEmpty())
    {
        <div class="dataGridHeader" id="dataGridDepartmentHeader">Department Inbox</div>
        
        <MudDataGrid Items="@mDepartmentMessages" T="DepartmentContactMessageResponseModel" ReadOnly="false"
                        EditMode="@DataGridEditMode.Form" EditTrigger="@DataGridEditTrigger.Manual"
                        Bordered="true">
            <Columns>
                <PropertyColumn Property="x => x.FirstName" Title="First name" IsEditable="false" />
                <PropertyColumn Property="x => x.LastName" Title="Last name" IsEditable="false" />
                <PropertyColumn Property="x => x.Email" Title="Contact" IsEditable="false"/>
                <PropertyColumn Property="x => x.DateCreated.ToLocalTime()" Title="Date Send" IsEditable="false" />
                <TemplateColumn StickyRight="true" CellStyle="max-width: 3rem; padding:0;" Sortable="false">
                    <CellTemplate>
                        <IconButton Id="viewButton"
                                    BackColor="transparent"
                                    ForeColor="@Department.Color"
                                    VectorSource="@IconPaths.CommentEyePath"
                                    BoxShadow="none"
                                    BorderRadius="0"
                                    OnClick="@(() => ViewMessage(context.Item))"
                                    CssClasses="dataGridButton" />
                    </CellTemplate>
                </TemplateColumn>
            </Columns>
        </MudDataGrid>
    }

    <div class="dataGridHeader" id="dataGridMyInboxHeader">My Inbox</div>
    
    <div class="myInboxContainer">
        <EmptyInboxAnimation Color="@StateManager.User!.Color"/>
    </div>

</ApplicationContainer>

<style>

    .pageContainer {
        height: 100%;
    }

    .dataGridHeader {
        position: relative;
        display: flex;
        justify-content:center;
        align-items: center;
        padding: @VeryLargePadding;
        font-weight: 600;
        font-size: 120%;
        filter: @LightFilterDropShadow;
    }

    #dataGridDepartmentHeader {
        background-color: @Department.Color.NormalizedColor();
        color: @Department.Color.DarkOrWhite().NormalizedColor();
    }

    #dataGridMyInboxHeader {
        background-color: @StateManager.User!.Color.NormalizedColor();
        color: @StateManager.User!.Color.DarkOrWhite().NormalizedColor();
    }

    #viewButton {
        width: 100%;
        height: 100%;
        padding: @VeryLargePadding;
    }

    .myInboxContainer {
        position:relative;
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items:center;
    }

</style>