@page "/secretaries/{Id}/information"

@inherits BasePage

@using static MeetBase.Blazor.PaletteColors
@using static MeetBase.Blazor.CssVariables

@using static MeetBase.Blazor.Personalization

@namespace MeetCore

<PageTitle>@EnglishLocalization.Information</PageTitle>

<ApplicationContainer>
    @if(mDepartment is not null)
    {
        <div class="departmentContainer">
            <img class="departmentImage" src="./icons/academic.png" alt="department image"/>

            <div class="departmentFieldContainer">
                <span class="departmentFieldTitle">Department</span>
                @if (mIsEditActive)
                {
                    <MudTextField @bind-Value="@mDepartment.Name"
                                  Placeholder="Name"
                                  Class="departmentFieldInput"
                                  FullWidth="true"
                                  Variant="Variant.Text"
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@MudIconPaths.Account" />
                }
                else
                {
                    <span class="departmentFieldValue">@mDepartment.Name</span>
                }
            </div>
            <div class="departmentFieldContainer">
                <span class="departmentFieldTitle">University</span>
                @if (mIsEditActive)
                {
                    <MudTextField @bind-Value="@mDepartment.UniversityId"
                                    Placeholder="University"
                                    Class="departmentFieldInput"
                                    FullWidth="true"
                                    Variant="Variant.Text"
                                    Adornment="Adornment.Start"
                                    AdornmentIcon="@MudIconPaths.Account" />
                }
                else
                {
                    <span class="departmentFieldValue">@mDepartment.UniversityId</span>
                }
            </div>
            <div class="departmentFieldContainer">
                <span class="departmentFieldTitle">Category</span>
                @if (mIsEditActive)
                {
                    <MudSelect T="DepartmentType" @bind-Value="@mDepartmentType"
                                Placeholder="Category"
                                Class="departmentFieldInput"
                                FullWidth="true"
                                Variant="Variant.Text"
                                Adornment="Adornment.Start"
                                AdornmentIcon="@MudIconPaths.Account"
                                AnchorOrigin="Origin.BottomCenter">
                        @foreach (var value in Enum.GetValues<DepartmentType>())
                        {
                            <MudSelectItem Value="@value">@value</MudSelectItem>
                        }
                    </MudSelect>
                }
                else
                {
                    <span class="departmentFieldValue">@mDepartment.Category</span>
                }
            </div>
            <div class="departmentFieldContainer">
                <span class="departmentFieldTitle">Color</span>
                @if (mIsEditActive)
                {
                    <MudColorPicker Placeholder="Color" @bind-Text="@mDepartment.Color"
                                    Style="@($"color: {mDepartment.Color.NormalizedColor()};")"
                                    DisableModeSwitch="false"
                                    DisableToolbar="false"
                                    Class="departmentFieldInput colorInput"
                                    Adornment="@Adornment.Start"
                                    AdornmentIcon="@Icons.Material.Filled.Palette"
                                    PickerVariant="PickerVariant.Inline"
                                    DisableAlpha="true" />
                }
                else
                {
                    <span class="departmentFieldValue">@mDepartment.Color</span>
                }
            </div>

            <div class="departmentLocationMapContainer">
                <img class="location" src="./icons/map.png" alt="map" />
            </div>
            <div class="departmentFieldContainer">
                <span class="departmentFieldTitle">Country</span>
                @if (mIsEditActive)
                {
                    <MudSelect T="CountryCode" @bind-Value="@mLocation.Country"
                               Placeholder="Country"
                               Class="departmentFieldInput"
                               FullWidth="true"
                               Variant="Variant.Text"
                               Adornment="Adornment.Start"
                               AdornmentIcon="@MudIconPaths.Account"
                               AnchorOrigin="Origin.BottomCenter">
                        @foreach (var value in Enum.GetValues<CountryCode>())
                        {
                            <MudSelectItem Value="@value">@value</MudSelectItem>
                        }
                    </MudSelect>
                }
                else
                {
                    <span class="departmentFieldValue">@mLocation.Country</span>
                }
            </div>
            
            <div class="departmentFieldContainer">
                <span class="departmentFieldTitle">City</span>
                @if (mIsEditActive)
                {
                    <MudTextField @bind-Value="@mLocation.City"
                                  Placeholder="City"
                                  Class="departmentInput locationInput"
                                  FullWidth="true"
                                  Variant="Variant.Text"
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@MudIconPaths.Phone" />
                }
                else
                {
                    <span class="departmentFieldValue">@mLocation.City</span>
                }
            </div>
            
            <div class="departmentFieldContainer">
                <span class="departmentFieldTitle">Postal code</span>
                @if (mIsEditActive)
                {
                    <MudTextField @bind-Value="@mLocation.Postcode"
                                  Placeholder="Postcode"
                                  Class="departmentInput locationInput"
                                  FullWidth="true"
                                  Variant="Variant.Text"
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@MudIconPaths.Phone" />
                }
                else
                {
                    <span class="departmentFieldValue">@mLocation.Postcode</span>
                }
            </div>
           
            <div class="departmentFieldContainer">
                <span class="departmentFieldTitle">Address</span>
                @if (mIsEditActive)
                {
                    <MudTextField @bind-Value="@mLocation.Address"
                                  Placeholder="Address"
                                  Class="departmentInput locationInput"
                                  FullWidth="true"
                                  Variant="Variant.Text"
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@MudIconPaths.Phone" />
                }
                else
                {
                    <span class="departmentFieldValue">@mLocation.Address</span>
                }
            </div>

            <span class="departmentFieldTitle departmentFieldFullRow">Information</span>
            <MudTextField T="string" Placeholder="Department description" Class="departmentFieldFullRow" Variant="Variant.Text"  Lines="12" />

        </div>
    }
</ApplicationContainer>

<style>
    .departmentContainer {
        position: relative;
        top: 1rem;
        width: 100%;
        height: auto;
        min-width: 420px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: @VeryLargeGap @XXLargePadding;
        padding: @XXLargePadding;
        background-color: @White.NormalizedColor();
    }

    .departmentImage {
        grid-row: 1 / 5;
        grid-column: 1 / 2;
        width: 80%;
        height: auto;
        align-self: center;
        justify-self: center;
    }

    .departmentLocationMapContainer {
        grid-row: 5 / 9;
        grid-column: 2 / 3;
        position: relative;
    }

    .location {
        position: relative;
        width: 100%;
        height: auto;
        max-height: 300px;
        border-radius: @VeryLargeBorderRadius;
        border: 1px solid @LightGray.NormalizedColor();
    }

    .departmentFieldTitle {
        padding-top: 1rem;
        font-weight: 800;
        font-size: 108%;
        color: @Gray.NormalizedColor();
    }

    .departmentFieldFullRow {
        grid-column: 1 / 3;
    }

    .colorInput .mud-input-adornment-start:after {
        content: '';
        position: absolute;
        margin-left: 2.5rem;
        width: calc(100% - 4.5rem);
        height: 24px;
        background-color: @mDepartment.Color.NormalizedColor();
        border-radius: @NormalBorderRadius;
    }

</style>