@page "/secretaries/{Id}/information"

@inherits BasePage

@using static MeetBase.Blazor.PaletteColors
@using static MeetBase.Blazor.CssVariables

@using static MeetBase.Blazor.Personalization

@namespace MeetCore

<PageTitle>@EnglishLocalization.Information</PageTitle>

<ApplicationContainer>

    <div class="departmentContainer" style="@BorderBrushVariable.SetCssColor(Department.Color)">

        <div class="departmentRibbonContainer" style="@BackgroundVariable.SetCssColor(Department.Color) @ForegroundVariable.SetCssColor(Department.Color.DarkOrWhite())">
            <div></div>
            <div class="departmentRibbon">
                <div class="departmentRibbonInfoContainer">
                    <span class="departmentRibbonInfo">@Department.Name</span>
                    <span class="departmentRibbonInfoDetails">@Department.UniversityId</span>
                </div>
                <IconButton BackColor="transparent"
                            ForeColor="@White"
                            VectorSource="@IconPaths.PencilOutlinePath"
                            BoxShadow="none"
                            OnClick="@UpdateDepartment"
                            CssClasses="departmentRibbonEditContainer" />
            </div>
        </div>

        <div class="departmentInfoContainer">
            <div class="departmentImageAndContactContainer">
                <div class="departmentImageContainer">
                    <img class="departmentImage" src="@Department.ImageUrl?.ToString()" alt="name" />
                </div>
                <div class="departmentContactContainer">
                    <div class="departmentContactImage">
                        <EmailMultipleVector Color="@Department.Color" />
                    </div>
                    <span class="departmentContactValue">@Department.Email</span>

                    <div class="departmentContactImage">
                        <CallVector Color="@Department.Color" />
                    </div>
                    <span class="departmentContactValue">+@StateManager.User?.PhoneNumber</span>

                    <div class="departmentContactImage">
                        <EmailVector Color="@Department.Color" />
                    </div>
                    <span class="departmentContactValue">@Department.Email</span>

                </div>
            </div>
            <div class="departmentPositionContainer">
                <span class="departmentWeeklyScheduleTitle" style="@ForegroundVariable.SetCssColor(Department.Color)">Category</span>
                <span class="departmentPosition">@Department.Category</span>
            </div>
            <div class="departmentWeeklyScheduleContainer">
                <div class="departmentWeeklySchedule">
                    <span class="departmentWeeklyScheduleTitle" style="@ForegroundVariable.SetCssColor(Department.Color)">Secretary</span>
                </div>
                <div class="departmentWeeklyScheduleDayContainer">
                    <span class="departmentWeeklyScheduleDay">Monday</span>
                    <span class="departmentWeeklyScheduleTime">09:30 - 13:00</span>
                    <span class="departmentWeeklyScheduleTime">19:00 - 20:00</span>
                </div>
                <div class="departmentWeeklyScheduleDayContainer">
                    <span class="departmentWeeklyScheduleDay">Wednesday</span>
                    <span class="departmentWeeklyScheduleTime">19:00 - 20:00</span>
                </div>
                <span class="departmentWeeklyScheduleNote">Any other time outside of the working schedule of the secretary office needs prior notice.</span>
            </div>
        </div>

        <div class="locationContainer">
            <img class="location" src="./icons/map.png" alt="map" />
        </div>
    </div>

    <div class="departmentQuoteContainer">
        <MudDivider DividerType="DividerType.Middle" Class="my-6" />
        <span>"@Department.Description"</span>
        <MudDivider DividerType="DividerType.Middle" Class="my-6" />
    </div>

    <div class="departmentScheduleContainer">
        <Schedule WeeklySchedule="@Department.WorkHours"
                  IsEditable="true"
                  EditButtonOnClick="@UpdateSchedule" />
    </div>
</ApplicationContainer>

<style>

    .departmentContainer {
        position: relative;
        top: 1rem;
        width: 100%;
        height: auto;
        min-width: 420px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: @VeryLargePadding;
        align-items: flex-end;
    }

    .departmentRibbonContainer {
        position: absolute;
        width: 100%;
        height: 60px;
        top: 36px;
        display: grid;
        grid-template-columns: 216px 1fr;
        gap: @VeryLargeGap;
        padding: @NormalPadding;
        background: @BackgroundVariable.GetCssVariable();
        color: @ForegroundVariable.GetCssVariable();
        font-size: 120%;
        font-weight: 600;
    }

    .departmentRibbon {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .departmentRibbonInfoContainer {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .departmentRibbonInfo {
        font-size: 100%;
        font-weight: 700;
    }

    .departmentRibbonInfoDetails {
        position: relative;
        display: flex;
        align-items: center;
        gap: @VeryLargeGap;
        font-size: 92%;
        font-weight: 400;
    }

    .departmentInfoContainer {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: @SmallGap;
        padding: @LargePadding;
    }

    .departmentImageAndContactContainer {
        position: relative;
        top: -20px;
        height: 200px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        gap: @LargeGap;
    }

    .departmentImageContainer {
        position: relative;
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        background: @White.NormalizedColor();
        filter: @LightFilterDropShadow;
        border-radius: @LargeBorderRadius;
        border: solid 1px @BorderBrushVariable.GetCssVariable();
        overflow: hidden;
    }

    .departmentImage {
        position: relative;
        width: 88%;
        height: auto;
        filter: @LightFilterDropShadow;
    }

    .departmentContactContainer {
        position: relative;
        display: grid;
        grid-template-columns: 28px 1fr;
        grid-auto-rows: 28px;
        align-items: center;
        gap: @MediumGap;
    }

    .departmentContactImage {
        position: relative;
        width: 28px;
        height: 28px;
        filter: @LightFilterDropShadow;
    }

    .departmentPositionContainer {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-items: start;
        gap: @MediumGap;
        padding: 0 @VeryLargePadding 0 @VeryLargePadding;
    }

    .departmentPosition {
        text-align: right;
    }

    .departmentWeeklyScheduleContainer {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: @MediumGap @VeryLargeGap;
        padding: @VeryLargePadding;
    }

    .departmentWeeklySchedule {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: @LargeGap;
    }

    .departmentWeeklyScheduleTitle {
        font-size: 112%;
        font-weight: 700;
        color: @ForegroundVariable.GetCssVariable();
    }

    .departmentWeeklyScheduleNote {
        grid-column-start: 1;
        grid-column-end: 3;
        font-size: 92%;
    }

    .departmentWeeklyScheduleDayContainer {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 2fr;
        justify-items: right;
        gap: @MediumGap;
    }

    .departmentWeeklyScheduleDay {
        font-weight: 600;
    }

    .departmentWeeklyScheduleTime {
        grid-column-start: 2;
    }

    .locationContainer {
        position: relative;
        width: 100%;
        height: min-content;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .location {
        position: relative;
        width: 100%;
        height: auto;
        max-height: 300px;
        border-radius: @VeryLargeBorderRadius;
        border: 1px solid @LightGray.NormalizedColor();
    }

    .departmentQuoteContainer {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-style: italic;
        font-weight: 300;
        text-align: center;
        padding: 1rem;
    }

    .departmentScheduleContainer {
        padding: @VeryLargePadding;
    }

    .departmentRibbonEditContainer {
        width: 3rem;
        height: 3rem;
        padding: 8px;
        margin-right: 8px;
        cursor: pointer;
    }

    @@media screen and (max-width: 440px) {

        .departmentImageAndContactContainer {
            height: 160px;
        }

        .departmentContainer {
            min-width: 360px;
            width: 360px;
            font-size: 90%;
        }

        .departmentRibbonContainer {
            grid-template-columns: 132px 1fr;
        }

        .departmentImageContainer {
            width: 120px;
            height: 120px;
        }

        .departmentPositionContainer {
            padding: @LargePadding @LargePadding 0 @LargePadding;
        }

        .departmentWeeklyScheduleContainer {
            gap: @MediumGap @LargeGap;
            padding: @LargePadding;
        }
    }

</style>