@using static CssVariables
@using static PaletteColors

@using static Personalization

@namespace MeetBase.Blazor

<div class="headerContainer" style="@BackgroundVariable.SetCssColor(BackColor!) @ForegroundVariable.SetCssColor(ForeColor!)">
    <a class="headerAppName" href="/">@AppName</a>
       
    @if(Manager is not null && Manager.IsConnected)
    {
        <div class="headerUserContainer">
            <span class="headerUserUsername">@Manager.Username</span>
            <div class="headerUserProfileImageContainer headerExplorerProfileImageContainer"
                 style="background: @Manager.Color.DarkOrWhite().HexToRGBA(0.8)">
                <ImageWithFallbackVector CssClasses="headerUserProfileImage"
                                         ImageSource="@Manager.ImageUrl?.ToString()"
                                         AspectRatio="1 / 1"
                                         VectorType="@typeof(AvatarVector)"
                                         FallbackIconColor="@Manager.Color"
                                         FallbackIconMargin="0"
                                         AlternateText="@Manager.Username" />
            </div>
        </div>
    }
</div>

<style>
    .headerContainer {
        position: sticky;
        top:0;
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: @VeryVeryLargeGap;
        padding: @LargePadding @VeryLargePadding;
        background: @BackgroundVariable.GetCssVariable();
        color: @ForegroundVariable.GetCssVariable();
        box-shadow: @BoxShadow;
        z-index: 99;
    }

    .headerAppName {
        color: @White.NormalizedColor();
        font-size: 200%;
        font-weight: 800;
        filter: @LightFilterDropShadow;
        cursor: pointer;
        border: none;
    }

    .headerUserContainer {
        position: relative;
        display: flex;
        justify-content: right;
        align-items: center;
        gap:  @LargeGap;
    }

    .headerUserUsername {
        font-size: 140%;
        font-weight: 600;
        cursor: default;
    }

    .headerUserProfileImageContainer {
        position: relative;
        width: 3rem;
        height: 3rem;
        border-radius: @CircleBorderRadius;
        box-shadow: @BoxShadow;
    }

    .headerUserProfileImage {
        position: sticky;
        width: 100%;
        height: auto;
    }

    .headerExplorerProfileImageContainer {
        padding: 8px;
        background: @White.HexToRGBA(0.2);
        border-radius: @CircleBorderRadius;
        overflow:hidden;
    }
    
</style>
