@using Microsoft.AspNetCore.Http;

@using static MeetBase.Blazor.PaletteColors
@using static MeetBase.Blazor.CssVariables
@using static MeetBase.Blazor.Personalization

@namespace MeetCore

<MudDialog>
    <DialogContent>
        <div class="dialogSection">
            <span class="dialogSectionText">Inbox message</span>
        </div>
        @if (Model.Model is not null)
        {
            <div class="inboxDialogFromContainer">
                <span class="inboxDialogFrom">From:</span>
                <span class="inboxDialogPropertyName">Full name <span class="inboxDialogPropertyValue">@Model.Model.FirstName @Model.Model.LastName</span></span>
                @if(!Model.Model.Email.IsNullOrEmpty())
                {
                    <span class="inboxDialogPropertyName">Email <span class="inboxDialogPropertyValue">@Model.Model.Email</span></span>
                }
                @if (Model.Model.PhoneNumber is not null)
                {
                    <span class="inboxDialogPropertyName">Phone number <span class="inboxDialogPropertyValue">+@Model.Model.PhoneNumber.ToPhoneNumberString()</span></span>
                }
                <span class="inboxDialogPropertyName">Date send <span class="inboxDialogPropertyValue">@Model.Model.DateCreated.ToString(FormatConstants.DateTimeFormat)</span></span>
            </div>
            
            <br/>

            <div class="inboxDialogFromContainer">
                <span class="inboxDialogFrom">To:</span>
                <MudSelect T="SecretaryRole" @bind-Value="@Model.Model.Role"
                           Placeholder="Role"
                           Style=""
                           Class="dialogInput"
                           FullWidth="true"
                           Variant="Variant.Text"
                           Adornment="Adornment.Start"
                           AnchorOrigin="Origin.BottomCenter">
                    @foreach (var value in Enum.GetValues<SecretaryRole>())
                    {
                        <MudSelectItem Value="@value">@value.ToString().BreakWords()</MudSelectItem>
                    }
                </MudSelect>
            </div>

            <p class="inboxDialogMessage">@Model.Model.Message</p>

            @if(mHasReply)
            {
                <div class="inboxDialogReplyMessage">
                    <MudTextField T="string" @bind-Value="@Model.Model.Reply"
                                  Placeholder="Your reply..."
                                  FullWidth="true"
                                  ReadOnly="true"
                                  DisableUnderLine="true"
                                  Variant="Variant.Text"
                                  Lines="12" />
                </div>
            }

            @if (mAreActionButtonsVisible)
            {
                @if(!mHasReply)
                {
                    <div id="inboxDialogReplyButtonContainer" class="dialogActionsContainer">
                        <MudButton Variant="Variant.Text" OnClick="@(() => mAreActionButtonsVisible = false)" Class="px-10" Style="@($"text-transform:capitalize; font-weight: 700; color: {Amber.NormalizedColor()};")">Reply</MudButton>
                    </div>
                }
                <div id="inboxDialogButtonsContainer" class="dialogActionsContainer">
                    <MudButton Variant="Variant.Text" OnClick="@Cancel" Class="px-10" Style="@($"text-transform:capitalize; font-weight: 700; color: {Red.NormalizedColor()};")">Cancel</MudButton>
                    <MudButton Variant="Variant.Text" OnClick="@Save" Class="px-10" Style="@($"text-transform:capitalize; font-weight: 700; color: {Green.NormalizedColor()};")">Save</MudButton>
                </div>
            }
            else
            {
                <div class="inboxDialogReplyMessage">
                    <MudTextField T="string" @bind-Value="@Model.Model.Reply"
                                  Placeholder="Your reply..."
                                  FullWidth="true"
                                  DisableUnderLine="true"
                                  Variant="Variant.Text"
                                  Lines="12" />
                </div>

                <div id="inboxDialogButtonsContainer" class="dialogActionsContainer">
                    <MudButton Variant="Variant.Text" OnClick="@Cancel" Class="px-10" Style="@($"text-transform:capitalize; font-weight: 700; color: {Red.NormalizedColor()};")">Cancel</MudButton>
                    <MudButton Variant="Variant.Text" OnClick="@Save" Class="px-10" Style="@($"text-transform:capitalize; font-weight: 700; color: {Green.NormalizedColor()};")">Save</MudButton>
                </div>
            }
        }
    </DialogContent>
</MudDialog>

<style>

    .mud-select {
        position: relative;
        top: -1rem;
        width: 100%;
    }

    #inboxDialog {
        padding-right: 24px;
    }

    .dialogSection {
        background-color: @Model.Color.NormalizedColor();
        color: @Model.Color.DarkOrWhite().NormalizedColor();
    }

    .inboxDialogFromContainer {
        position:relative;
        display: flex;
        flex-direction:column;
        gap: @MediumGap;
        justify-content: start;
        align-items: start;
        padding-right: 24px;
    }

    .inboxDialogFrom {
        font-size: 18px;
        font-weight: 700;
    }

    .inboxDialogPropertyName {
        font-size: 14px;
        font-weight: 600;
        margin-left: @LargeMargin;
    }

    .inboxDialogPropertyValue {
        font-weight: 400;
        margin-left: @LargeMargin;
    }

    .inboxDialogMessage {
        margin: 0;
        max-height: 240px;
        font-size: 100%;
        font-weight: 400;
        overflow-y: auto;
        padding: @VeryLargePadding;
        margin-right: @VeryVeryLargePadding;
        border-radius: @LargeBorderRadius;
        border: solid 2px @LightGray.NormalizedColor();
    }

    .inboxDialogReplyMessage {
        padding: 0 @VeryLargePadding;
        border: solid 2px @Model.Color.NormalizedColor();
        border-radius: @LargeBorderRadius;
        margin-right: @VeryVeryLargePadding;
        margin-top: @VeryVeryLargePadding;
    }

    #inboxDialogButtonsContainer, #inboxDialogReplyButtonContainer {
        width: auto;
        margin: @LargeMargin;
        padding-right: 24px;
    }

</style>
