@typeparam T

@using Microsoft.AspNetCore.Http;

@using static MeetBase.Blazor.PaletteColors
@using static MeetBase.Blazor.CssVariables
@using static MeetBase.Blazor.Personalization

@namespace MeetCore

<MudDialog>
    <DialogContent>
        @if(Model is not null)
        {
            <div class="dialogSection">
                <span class="dialogSectionText">Update Layout Preview</span>
            </div>
            <div class="dialogContentContainer">
                <span class="dialogContentTitle dialogContentFullRow">Layout info</span>
                <MudTextField @bind-Value="@Model.Model!.Name"
                              Placeholder="Title"
                              Class="dialogContentFullRow dialogInput"
                              FullWidth="true"
                              Variant="Variant.Text"
                              Adornment="Adornment.Start"
                              AdornmentIcon="@MudIconPaths.Account" />
                <MudColorPicker Placeholder="Color" @bind-Text="@Model.Model.Color"
                                Style="@($"color: {Model.Model.Color.NormalizedColor()};")"
                                DisableModeSwitch="false"
                                DisableToolbar="false"
                                Class="dialogInput colorInput"
                                Adornment="@Adornment.Start"
                                AdornmentIcon="@Icons.Material.Filled.Palette"
                                PickerVariant="PickerVariant.Inline"
                                DisableAlpha="true" />
                <MudSelect T="ImageDisplayTheme" @bind-Value="@mTheme"
                           Placeholder="Display theme"
                           Class="dialogInput"
                           FullWidth="true"
                           Variant="Variant.Text"
                           Adornment="Adornment.Start"
                           AdornmentIcon="@MudIconPaths.Account"
                           AnchorOrigin="Origin.BottomCenter">
                    @foreach (var value in Enum.GetValues<ImageDisplayTheme>())
                    {
                        <MudSelectItem Value="@value">@value</MudSelectItem>
                    }
                </MudSelect>
                <MudFileUpload T="IBrowserFile" Accept=".png, .jpg" FilesChanged="@((e) => mFile = e)" Class="dialogContentPhotoContainer">
                    <ButtonTemplate>
                        <MudButton HtmlTag="label"
                                   Variant="Variant.Text"
                                   Class="mud-input mud-input-underline dialogInput dialogContentFullRow"
                                   StartIcon="@Icons.Material.Filled.Image"
                                   for="@context">
                            @mPhotoLabel
                        </MudButton>
                    </ButtonTemplate>
                    <SelectedTemplate>
                        @if (context != null)
                        {
                            mPhotoLabel = context.Name;
                        }
                    </SelectedTemplate>
                </MudFileUpload>


                <span class="dialogContentTitle dialogContentFullRow">Quote</span>
                <MudTextField T="string" Placeholder="Note" Class="dialogContentFullRow" Variant="Variant.Text" @bind-Text="@Model.Model.Note" Lines="5" />
            </div>
        }
    </DialogContent>
    <DialogActions>
        <div class="dialogActionsContainer">
            <MudButton Variant="Variant.Text" Color="Color.Error" OnClick="@Cancel" Class="px-10">Cancel</MudButton>
            <MudButton Variant="Variant.Text" Color="Color.Success" OnClick="@Save" Class="px-10">Save</MudButton>
        </div>
    </DialogActions>
</MudDialog>

<style>
    
    .dialogSection {
        background-color: @Model?.Model!.Color.NormalizedColor();
        color: @Model?.Model!.Color.DarkOrWhite().NormalizedColor();
    }

    .colorInput .mud-input-adornment-start:after {
        background-color: @Model?.Model!.Color.NormalizedColor();
        border-radius: @NormalBorderRadius;
    }

</style>
