@typeparam T 

@using static MeetBase.Blazor.PaletteColors
@using static MeetBase.Blazor.CssVariables

@using static MeetBase.Blazor.Personalization

@namespace MeetCore

<MudDialog>
    <DialogContent>
        <div class="dialogSection">
            <span class="dialogSectionText">Update Profile</span>
        </div>
        <div class="dialogContentContainer">
            <span class="dialogContentTitle dialogContentFullRow">Account info</span>
            <MudTextField @bind-Value="@Model.Model.Username"
                          Placeholder="Username"
                          Class="dialogContentFullRow dialogInput"
                          FullWidth="true"
                          Variant="Variant.Text"
                          Adornment="Adornment.Start"
                          AdornmentIcon="@MudIconPaths.Account" />
            <MudTextField @bind-Value="@Model.Model.Email"
                          Placeholder="Email"
                          Class="dialogContentFullRow dialogInput"
                          FullWidth="true"
                          Variant="Variant.Text"
                          Adornment="Adornment.Start"
                          AdornmentIcon="@MudIconPaths.Email" />
            <MudTextField @bind-Value="@mPassword"
                          Placeholder="New password"
                          FullWidth="true"
                          Class="dialogInput"
                          Variant="Variant.Text"
                          Adornment="Adornment.Start"
                          AdornmentIcon="@MudIconPaths.Key" />
            <MudTextField @bind-Value="@mConfirmPassword"
                          Placeholder="Confirm password"
                          FullWidth="true"
                          Variant="Variant.Text"
                          Class="dialogInput"
                          Adornment="Adornment.Start"
                          AdornmentIcon="@MudIconPaths.KeyLink" />
            <MudFileUpload T="IBrowserFile" Accept=".png, .jpg" FilesChanged="@((e) => mFile = e)" Class="dialogContentPhotoContainer">
                <ButtonTemplate>
                    <MudButton HtmlTag="label"
                               Variant="Variant.Text"
                               Class="mud-input mud-input-underline dialogInput"
                               StartIcon="@Icons.Material.Filled.Image"
                               for="@context">
                        @mPhotoLabel
                    </MudButton>
                </ButtonTemplate>
                <SelectedTemplate>
                    @if (context != null)
                    {
                        mPhotoLabel = context.Name;
                    }
                </SelectedTemplate>
            </MudFileUpload>

            <MudColorPicker Placeholder="Color" @bind-Text="@Model.Model.Color"
                            Style="@($"color: {Model.Model.Color.NormalizedColor()};")"
                            DisableModeSwitch="false"
                            DisableToolbar="false"
                            Class="dialogInput colorInput"
                            Adornment="@Adornment.Start"
                            AdornmentIcon="@Icons.Material.Filled.Palette"
                            PickerVariant="PickerVariant.Inline"
                            DisableAlpha="true" />

            <span class="dialogContentTitle dialogContentFullRow">User info</span>
            <MudTextField @bind-Value="@Model.Model.FirstName"
                          Placeholder="First name"
                          Class="dialogContentFullRow dialogInput"
                          FullWidth="true"
                          Variant="Variant.Text"
                          Adornment="Adornment.Start"
                          AdornmentIcon="@MudIconPaths.AbjadArabic" />
            <MudTextField @bind-Value="@Model.Model.LastName"
                          Placeholder="Last name"
                          Class="dialogContentFullRow dialogInput"
                          FullWidth="true"
                          Variant="Variant.Text"
                          Adornment="Adornment.Start"
                          AdornmentIcon="@MudIconPaths.AbugidadArabic" />
            <div class="dialogPhoneNumberInputsContainer">
                <MudTextField @bind-Value="@mCountryCode"
                              Placeholder="CC"
                              Class="dialogInput"
                              FullWidth="true"
                              Variant="Variant.Text"
                              Adornment="Adornment.Start"
                              AdornmentIcon="@MudIconPaths.Plus" />
                <MudTextField @bind-Value="@mPhoneNumber"
                              Placeholder="Phone number"
                              Class="dialogInput"
                              FullWidth="true"
                              Variant="Variant.Text"
                              Adornment="Adornment.Start"
                              AdornmentIcon="@MudIconPaths.Phone" />
            </div>
            <MudDatePicker @bind-Date="@mBirthDate"
                           Adornment="@Adornment.Start"
                           Placeholder="Birthday date"
                           DisableToolbar="true" />

            <span class="dialogContentTitle dialogContentFullRow">Quote</span>
            <MudTextField T="string" Placeholder="Write a quote that inspires you" Class="dialogContentFullRow" Variant="Variant.Text" @bind-Text="@Model.Model.Quote" Lines="3" />

            <span class="dialogContentTitle dialogContentFullRow">Location info</span>
            <div class="dialogLocationMapContainer">
                <img class="location" src="./icons/map.png" alt="map" />
            </div>
            <MudSelect T="CountryCode" @bind-Value="@mLocation.Country"
                       Placeholder="Country"
                       Class="dialogInput"
                       FullWidth="true"
                       Variant="Variant.Text"
                       Adornment="Adornment.Start"
                       AdornmentIcon="@MudIconPaths.Account"
                       AnchorOrigin="Origin.BottomCenter">
                @foreach (var value in Enum.GetValues<CountryCode>())
                {
                    <MudSelectItem Value="@value">@value</MudSelectItem>
                }
            </MudSelect>
            <MudTextField @bind-Value="@mLocation.City"
                          Placeholder="City"
                          Class="dialogInput locationInput"
                          FullWidth="true"
                          Variant="Variant.Text"
                          Adornment="Adornment.Start"
                          AdornmentIcon="@MudIconPaths.Phone" />
            <MudTextField @bind-Value="@mLocation.Postcode"
                          Placeholder="Postcode"
                          Class="dialogInput locationInput"
                          FullWidth="true"
                          Variant="Variant.Text"
                          Adornment="Adornment.Start"
                          AdornmentIcon="@MudIconPaths.Phone" />
            <MudTextField @bind-Value="@mLocation.Address"
                          Placeholder="Address"
                          Class="dialogInput locationInput"
                          FullWidth="true"
                          Variant="Variant.Text"
                          Adornment="Adornment.Start"
                          AdornmentIcon="@MudIconPaths.Phone" />
        </div>
    </DialogContent>
    <DialogActions>
        <div class="dialogActionsContainer">
            <MudButton Variant="Variant.Text" Color="Color.Error" OnClick="@Cancel" Class="px-10">Cancel</MudButton>
            <MudButton Variant="Variant.Text" Color="Color.Success" OnClick="@Save" Class="px-10">Save</MudButton>
        </div>
    </DialogActions>
</MudDialog>

<style>

    .dialogSection {
        background-color: @Model.Model.Color.NormalizedColor();
        color: @Model.Model.Color.DarkOrWhite().NormalizedColor();
    }

    .colorInput .mud-input-adornment-start:after {
        background-color: @Model.Model.Color.NormalizedColor();
    }

</style>
