@using static MeetBase.Blazor.PaletteColors
@using static MeetBase.Blazor.CssVariables

@using static MeetBase.Blazor.Personalization

@namespace MeetCore
@using Microsoft.AspNetCore.Http;

<MudDialog>
    <DialogContent>
        <div class="dialogSection">
            <span class="dialogSectionText">Update Layout Preview</span>
        </div>
        @if(Model is not null)
        {
            <div class="dialogContentContainer">
                <span class="dialogContentTitle dialogContentFullRow">Department info</span>
                <MudTextField @bind-Value="@Model.Model.Name"
                              Placeholder="Name"
                              Class="dialogContentFullRow dialogInput"
                              FullWidth="true"
                              Variant="Variant.Text"
                              Adornment="Adornment.Start"
                              AdornmentIcon="@MudIconPaths.Account" />
                <MudColorPicker Placeholder="Color" @bind-Text="@Model.Model.Color"
                                Style="@($"color: {Model.Model.Color.NormalizedColor()};")"
                                DisableModeSwitch="false"
                                DisableToolbar="false"
                                Class="dialogInput colorInput"
                                Adornment="@Adornment.Start"
                                AdornmentIcon="@Icons.Material.Filled.Palette"
                                PickerVariant="PickerVariant.Inline"
                                DisableAlpha="true" />
                <MudSelect T="ImageDisplayTheme" @bind-Value="@mTheme"
                           Placeholder="Display theme"
                           Class="dialogInput"
                           FullWidth="true"
                           Variant="Variant.Text"
                           Adornment="Adornment.Start"
                           AdornmentIcon="@MudIconPaths.Account"
                           AnchorOrigin="Origin.BottomCenter">
                    @foreach (var value in Enum.GetValues<ImageDisplayTheme>())
                    {
                        <MudSelectItem Value="@value">@value</MudSelectItem>
                    }
                </MudSelect>
                <MudFileUpload T="IBrowserFile" Accept=".png, .jpg" FilesChanged="@((e) => mFile = e)" Class="dialogContentPhotoContainer">
                    <ButtonTemplate>
                        <MudButton HtmlTag="label"
                                   Variant="Variant.Text"
                                   Class="mud-input mud-input-underline dialogInput dialogContentFullRow"
                                   StartIcon="@Icons.Material.Filled.Image"
                                   for="@context">
                            @mPhotoLabel
                        </MudButton>
                    </ButtonTemplate>
                    <SelectedTemplate>
                        @if (context != null)
                        {
                            mPhotoLabel = context.Name;
                        }
                    </SelectedTemplate>
                </MudFileUpload>


                <span class="dialogContentTitle dialogContentFullRow">Quote</span>
                <MudTextField T="string" Placeholder="Note" Class="dialogContentFullRow" Variant="Variant.Text" @bind-Text="@Model.Model.Note" Lines="5" />
            </div>
        }
    </DialogContent>
    <DialogActions>
        <div class="dialogActionsContainer">
            <MudButton Variant="Variant.Text" Color="Color.Error" OnClick="@Cancel" Class="px-10">Cancel</MudButton>
            <MudButton Variant="Variant.Text" Color="Color.Success" OnClick="@Save" Class="px-10">Save</MudButton>
        </div>
    </DialogActions>
</MudDialog>

<style>
    
    .dialogSection {
        position: relative;
        top: -0.8rem;
        width: fit-content;
        height: 48px;
        margin: auto;
        padding: 12px 1rem;
        font-weight: 800;
        font-size: 120%;
        background-color: @Model?.Model.Color.NormalizedColor();
        color: @Model?.Model.Color.DarkOrWhite().NormalizedColor();
        border-radius: 0 0 1rem 1rem;
        filter: @LightFilterDropShadow;
    }

    .colorInput .mud-input-adornment-start:after {
        content: '';
        position: absolute;
        margin-left: 2.5rem;
        width: calc(100% - 4.5rem);
        height: 24px;
        background-color: @Model?.Model.Color.NormalizedColor();
        border-radius: @NormalBorderRadius;
    }

</style>
