@inherits BaseEditScheduleDialog

@using static MeetBase.Blazor.PaletteColors
@using static MeetBase.Blazor.CssVariables

@using static MeetBase.Blazor.Personalization

@namespace MeetCore

<MudDialog>
    <DialogContent>
        <div class="dialogSection">
            <span class="dialogSectionText">Update Schedule</span>
        </div>
        <div class="dialogContentContainer">
            <span class="dialogContentTitle dialogContentFullRow">Office hours info</span>

            <MudTextField @bind-Value="@mName"
                          Placeholder="Name"
                          Class="dialogInput"
                          FullWidth="true"
                          Variant="Variant.Text"
                          Adornment="Adornment.Start"
                          AdornmentIcon="@MudIconPaths.Account" />

            <MudColorPicker Placeholder="Color" @bind-Text="@mColor"
                            Style="@($"color: {mColor.NormalizedColor()};")"
                            DisableModeSwitch="false"
                            DisableToolbar="false"
                            Class="dialogInput colorInput"
                            Adornment="@Adornment.Start"
                            AdornmentIcon="@Icons.Material.Filled.Palette"
                            PickerVariant="PickerVariant.Inline"
                            DisableAlpha="true" />

            <span class="dialogContentTitle dialogContentFullRow">Note</span>
            <MudTextField T="string" Placeholder="Write a note regarding your shifts" Class="dialogContentFullRow" Variant="Variant.Text" @bind-Text="@mNote" Lines="3" />

            <span class="dialogContentTitle dialogContentFullRow">Shifts</span>
            
            @foreach(var shift in mWeeklyHours)
            {
                <div class="dialogContentFullRow shiftContainer" @key="@mIndex">
                    <div class="dialogContentContainer" style="overflow-y:clip; padding: 0;">
                        <MudSelect T="DayOfWeek" Value="@shift.DayOfWeek"
                                   ValueChanged="@((e) => SetDayOfWeek(shift, e))"
                                   Placeholder="Day of week"
                                   Class="dialogInput"
                                   FullWidth="true"
                                   Variant="Variant.Text"
                                   Adornment="Adornment.Start"
                                   AdornmentIcon="@MudIconPaths.Account"
                                   AnchorOrigin="Origin.BottomCenter">
                            @foreach (var value in Enum.GetValues<DayOfWeek>())
                            {
                                <MudSelectItem Value="@value">@value</MudSelectItem>
                            }
                        </MudSelect>
                        <MudTextField T="string" Value="@shift.Text"
                                      ValueChanged="@((e) => SetText(shift, e))"
                                      Placeholder="Room"
                                      Class="dialogInput"
                                      FullWidth="true"
                                      Variant="Variant.Text"
                                      Adornment="Adornment.Start"
                                      AdornmentIcon="@MudIconPaths.Account" />
                        <MudTimePicker Time="@shift.Start.ToNullableTimeSpan()"
                                       TimeChanged="@((e) => SetStartingHour(shift, e))"
                                       Placeholder="Start"
                                       Editable="true" />
                        <MudTimePicker Time="@shift.End.ToNullableTimeSpan()" 
                                       TimeChanged="@((e) => SetEndingingHour(shift, e))"
                                       Placeholder="End"
                                       Editable="true" />
                    </div>
                    <IconButton VectorSource="@IconPaths.TrashCanOutlinePath"
                                ForeColor="@Red"
                                BackColor="transparent"
                                BorderRadius="@SmallBorderRadius"
                                BoxShadow="none"
                                CssClasses="shiftDeleteButton"
                                OnClick="@(() => mWeeklyHours.Remove(shift))"/>
                </div>
                mIndex++;
            }
            <MudFab Class="dialogContentFullRow" 
                    StartIcon="@Icons.Material.Filled.Add" 
                    Size="Size.Small" 
                    DisableElevation="true" 
                    OnClick="@AddNew"
                    Style="@($"color: {Model.Color.DarkOrWhite().NormalizedColor()}; background-color: {Model.Color.NormalizedColor()}; margin-top: 1rem; justify-self: center;")" />
        </div>
    </DialogContent>
    <DialogActions>
        <div class="dialogActionsContainer">
            <MudButton Variant="Variant.Text" Color="Color.Error" OnClick="@Cancel" Class="px-10">Cancel</MudButton>
            <MudButton Variant="Variant.Text" Color="Color.Success" OnClick="@Save" Class="px-10">Save</MudButton>
        </div>
    </DialogActions>
</MudDialog>


<style>
    
    .dialogSection {
        background-color: @Model.Color.NormalizedColor();
        color: @Model.Color.DarkOrWhite().NormalizedColor();
    }

    .colorInput .mud-input-adornment-start:after {
        background-color: @mColor.NormalizedColor();
        border-radius: @NormalBorderRadius;
    }

    .shiftContainer {
        display: flex;
        justify-content:center;
        align-items:center;
        gap: 0.5rem;
    }

    .shiftDeleteButton {
        width: 48px;
        height: 48px;
        padding: 0.5rem;
    }

</style>