@using static Atom.Blazor.Personalization

@namespace AppointMate
@using Atom.Blazor;



<Button BackColor="@Color" ForeColor="@Color.DarkOrWhite()" BorderRadius="@LargeBorderRadius" BoxShadow="@BoxShadow" CssClasses="uniBoxImageContainer">
    <img class="uniBoxImage" src="@Image" alt="@Name"/>
    <h1 class="uniboxName">@Name</h1>
</Button>

<style>
    .uniBoxImageContainer {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: @LargeGap;
        padding: @LargePadding;
        font-family: inherit;
    }

    .uniBoxImage {
        position: relative;
        width: 100px;
        height: 100px;
        filter: @LightFilterDropShadow;
    }

    .uniboxName {
        font-weight: 600;
        font-size: 100%;
    }

</style>