@inherits LayoutComponentBase

@using static MeetEdu.Personalization
@using static MeetBase.CssVariables

@using static Atom.Blazor.Personalization

<PageTitle>MeetEdu</PageTitle>


<div class="page">
    <main>
        @Body
    </main>
</div>

<MudThemeProvider Theme="@mMeetEduTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<style>


    .searchBarContainer {
        position: relative;
        height: 40px;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: @DarkGray.NormalizedColor();
        border: solid 1px @LightGray.NormalizedColor();
        border-radius: @VeryLargeBorderRadius;
        overflow: hidden;
    }

    .searchBarSearchArea {
        position: relative;
        width: 88%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: @LargePadding;
    }

    .searchBarSearchButtons {
        position: relative;
        display: flex;
    }

    .searchButton {
        height: 40px;
    }

    .searchCategoryButton {
        min-width: 180px;
    }

    .modelContainer {
        position: relative;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 3fr 2fr;
        border-radius: @VeryLargeBorderRadius;
        border: solid 1px @BorderColorVariable.GetCssVariable();
    }

    .modelRibbonContainer {
        position: absolute;
        width: 100%;
        height: 80px;
        top: 24px;
        display: grid;
        grid-template-columns: 200px 1fr;
        gap: @VeryLargeGap;
        padding: 0 @LargePadding;
        background: @BackColorVariable.GetCssVariable();
        color: @ForeColorVariable.GetCssVariable();
    }

    .modelRibbon {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .modelRibbonInfoContainer {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .modelRibbonInfo {
        font-size: 140%;
        font-weight: 700;
    }

    .modelRibbonInfoDetails {
        position: relative;
        display: flex;
        align-items: center;
        gap: @VeryLargeGap;
    }

    .modelInfoContainer {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: @VeryVeryLargeGap;
        padding: @LargePadding;
    }

    .modelImageAndContactContainer {
        position: relative;
        height: 200px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        gap: @LargeGap;
    }

    .modelImageContainer {
        position: relative;
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: @LargePadding;
        background: @White.NormalizedColor();
        border-radius: @LargeBorderRadius;
        filter: @LightFilterDropShadow;
        border: solid 1px @BorderColorVariable.GetCssVariable();
    }

    .modelImage {
        position: relative;
        width: 100%;
        height: 100%;
        filter: @LightFilterDropShadow;
    }

    .modelContactContainer {
        position: relative;
        display: grid;
        grid-template-columns: 28px 1fr;
        grid-auto-rows: 28px;
        align-items: center;
        gap: @MediumGap;
    }

    .modelContactImage {
        position: relative;
        width: 28px;
        height: 28px;
        filter: @LightFilterDropShadow;
    }

    .modelWeeklyScheduleContainer {
        position: relative;
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: @MediumGap @VeryLargeGap;
    }

    .modelWeeklySchedule {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: @LargeGap;
    }

    .modelWeeklyScheduleTitle {
        font-size: 112%;
        font-weight: 700;
        color: @ForeColorVariable.GetCssVariable();
    }

    .modelWeeklyScheduleNote {
        font-size: 92%;
    }

    .modelWeeklyScheduleDayContainer {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 2fr;
        justify-items: right;
        gap: @MediumGap;
    }

    .modelWeeklyScheduleDay {
        font-weight: 600;
    }

    .modelWeeklyScheduleTime {
        grid-column-start: 2;
    }

    @@media screen and (max-width: 1400px) {
        .appContainer {
            width: 100%;
        }
    }

    @@media screen and (max-width: 960px) {
        .appContainer {
            padding: @LargePadding;
        }

        .searchBarContainer {
            width: 100%;
        }
    }

</style>