@using static MeetBase.Blazor.PaletteColors
@using static MeetBase.Blazor.CssVariables
@using static MeetBase.Blazor.Personalization

@namespace MeetCore

@if (!Appointments.IsNullOrEmpty())
{
    <MudDataGrid Items="@Appointments" T="AppointmentResponseModel" ReadOnly="false"
                 EditMode="@DataGridEditMode.Form" EditTrigger="@DataGridEditTrigger.Manual"
                 Bordered="true">
        <Columns>
            <PropertyColumn Property="x => x!.Rule!.Name" Title="Rule" IsEditable="false" />
            <TemplateColumn Title="Full Name" Sortable="false">
                <CellTemplate>
                    <span class="description">
                        @context.Item!.FirstName @context.Item.LastName
                    </span>
                </CellTemplate>
            </TemplateColumn>
            <TemplateColumn Title="Time slot" Sortable="false">
                <CellTemplate>
                    <span class="description">
                        @context.Item!.DateStart.ToString("dd/MM/yyyy") | @context.Item!.DateStart.ToString("HH:mm") - @((context.Item!.DateStart + context.Item.Rule!.Duration).ToString("HH:mm"))
                    </span>
                </CellTemplate>
            </TemplateColumn>
            <TemplateColumn Title="Remote" CellStyle="width: 4rem;" Sortable="true">
                <CellTemplate>
                    <span class="hasRemoteOptionGridRowText"
                          style="@ForegroundVariable.SetCssColor(context.Item!.IsRemote ? Green : Red)">
                        @context.Item.IsRemote
                    </span>
                </CellTemplate>
            </TemplateColumn>
            <TemplateColumn Title="Status" CellStyle="width: 4rem;" Sortable="true">
                <CellTemplate>
                    <span class="hasRemoteOptionGridRowText"
                          style="@ForegroundVariable.SetCssColor(SetStatusColor(context.Item!.Status))">
                        @context.Item.Status.ToString()
                    </span>
                </CellTemplate>
            </TemplateColumn>
            <TemplateColumn StickyRight="true" CellStyle="width: 3.5rem; padding:0;" Sortable="false">
                <CellTemplate>
                    <IconButton Id="actionButton"
                                BackColor="transparent"
                                ForeColor="@Gray"
                                VectorSource="@(IsEditable ? IconPaths.PencilOutlinePath : IconPaths.CommentEyePath)"
                                BoxShadow="none"
                                BorderRadius="0"
                                OnClick="@(() => ActionButton_OnClick(context.Item!))"
                                CssClasses="dataGridButton" />
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>
}


<style>

    #actionButton {
        width: 3.5rem;
        height: 100%;
        padding: @VeryLargePadding;
    }

    .description {
        width: 100%;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .hasRemoteOptionGridRowText {
        color: @ForegroundVariable.GetCssVariable();
        font-weight: @BoldFont;
    }

</style>