@using static MeetBase.Blazor.PaletteColors
@using static MeetBase.Blazor.Personalization
@using static MeetBase.Blazor.CssVariables

@namespace MeetCore

<div class="sideMenuContainer">
    <div class="sideMenuItemContainer">
        <MenuButton Text="@EnglishLocalization.Profile" 
                    VectorSource="@IconPaths.AccountPath" 
                    OnClick="@NavigateToProfilePage"
                    BackColor="@White" 
                    ForeColor="@DarkGray" 
                    BorderRadius="0"
                    BoxShadow="none"
                    Style="@($"{WidthVariable.SetCssVariable("100%")}")" />
    </div>
    @if(IsSecretary)
    {
        <div class="sideMenuItemContainer">
            <MenuButton Text="@EnglishLocalization.Secretary"
                        VectorSource="@IconPaths.AccountSupervisorPath"
                        OnClick="@(() => NavigationManager?.Secretary_NavigateToSecretaryPage("id"))"
                        BackColor="@White"
                        ForeColor="@DarkGray"
                        BorderRadius="0"
                        BoxShadow="none"
                        Style="@($"{WidthVariable.SetCssVariable("100%")}")" />
        </div>

        <span class="sideMenuItemContainer sideMenuItemText">@EnglishLocalization.Department</span>
        
        <div class="sideMenuItemContainer">
            <MenuButton Text="@EnglishLocalization.Information"
                        VectorSource="@IconPaths.HeartOutlinePath"
                        OnClick="@(() => NavigationManager?.Secretary_NavigateToInformationPage("id"))"
                        BackColor="@White"
                        ForeColor="@DarkGray"
                        BorderRadius="0"
                        BoxShadow="none"
                        Style="@($"{WidthVariable.SetCssVariable("100%")}")" />
        </div>
        <div class="sideMenuItemContainer">
            <MenuButton Text="@EnglishLocalization.Faculty"
                        VectorSource="@IconPaths.AccountSupervisorPath"
                        OnClick="@(() => NavigationManager?.Secretary_NavigateToFacultyPage("id"))"
                        BackColor="@White"
                        ForeColor="@DarkGray"
                        BorderRadius="0"
                        BoxShadow="none"
                        Style="@($"{WidthVariable.SetCssVariable("100%")}")" />
        </div>
        <div class="sideMenuItemContainer">
            <MenuButton Text="@EnglishLocalization.Layout"
                        VectorSource="@IconPaths.LandPlotsIconPath"
                        OnClick="@(() => NavigationManager?.Secretary_NavigateToLayoutPage("id"))"
                        BackColor="@White" 
                        ForeColor="@DarkGray" 
                        BorderRadius="0"
                        BoxShadow="none"
                        Style="@($"{WidthVariable.SetCssVariable("100%")}")" />
        </div>
    }
    else
    {
        <div class="sideMenuItemContainer">
            <MenuButton Text="@EnglishLocalization.Schedule"
                        VectorSource="@IconPaths.CalendarAccountPath"
                        OnClick="@(() => NavigationManager?.Professor_NavigateToSchedulePage("id"))"
                        BackColor="@White"
                        ForeColor="@DarkGray"
                        BorderRadius="0"
                        BoxShadow="none"
                        Style="@($"{WidthVariable.SetCssVariable("100%")}")" />
        </div>
        <div class="sideMenuItemContainer">
            <MenuButton Text="@EnglishLocalization.Office"
                        VectorSource="@IconPaths.OfficeBuildingMarkerPath"
                        OnClick="@(() => NavigationManager?.Professor_NavigateToOfficePage("id"))"
                        BackColor="@White"
                        ForeColor="@DarkGray"
                        BorderRadius="0"
                        BoxShadow="none"
                        Style="@($"{WidthVariable.SetCssVariable("100%")}")" />
        </div>

        <span class="sideMenuItemContainer sideMenuItemText">@EnglishLocalization.Appointments</span>

        <div class="sideMenuItemContainer">
            <MenuButton Text="@EnglishLocalization.Active"
                        VectorSource="@IconPaths.CalendarMultiSelectPath"
                        OnClick="@(() => NavigationManager?.Professor_NavigateToActiveAppointmentsPage("id"))"
                        BackColor="@White"
                        ForeColor="@DarkGray"
                        BorderRadius="0"
                        BoxShadow="none"
                        Style="@($"{WidthVariable.SetCssVariable("100%")}")" />
        </div>
        <div class="sideMenuItemContainer">
            <MenuButton Text="@EnglishLocalization.History"
                        VectorSource="@IconPaths.CalendarClockPath"
                        OnClick="@(() => NavigationManager?.Professor_NavigateToAppointmentsHistoryPage("id"))"
                        BackColor="@White"
                        ForeColor="@DarkGray"
                        BorderRadius="0"
                        BoxShadow="none"
                        Style="@($"{WidthVariable.SetCssVariable("100%")}")" />
        </div>
    }

    <span class="sideMenuItemContainer sideMenuItemText">@EnglishLocalization.Contact</span>

    <div class="sideMenuItemContainer">
        <MenuButton Text="@EnglishLocalization.Form"
                    VectorSource="@IconPaths.FormatFloatLeftPath"
                    OnClick="@(() => NavigateToFormPage())"
                    BackColor="@White"
                    ForeColor="@DarkGray"
                    BorderRadius="0"
                    BoxShadow="none"
                    Style="@($"{WidthVariable.SetCssVariable("100%")}")" />
    </div>
    @if(IsSecretary)
    {
        <div class="sideMenuItemContainer">
            <MenuButton Text="@EnglishLocalization.Inbox"
                        VectorSource="@IconPaths.MailNewsletterIconPath"
                        OnClick="@(() => NavigateToInboxPage())"
                        BackColor="@White"
                        ForeColor="@DarkGray"
                        BorderRadius="0"
                        BoxShadow="none"
                        Style="@($"{WidthVariable.SetCssVariable("100%")}")" />
        </div>
    }
    else
    {
        <div class="sideMenuItemContainer">
            <MenuButton Text="@EnglishLocalization.FormRules"
                        VectorSource="@IconPaths.MailNewsletterIconPath"
                        OnClick="@(() => NavigateToFormRulesPage())"
                        BackColor="@White"
                        ForeColor="@DarkGray"
                        BorderRadius="0"
                        BoxShadow="none"
                        Style="@($"{WidthVariable.SetCssVariable("100%")}")" />
        </div>
    }

    <div class="sideMenuItemContainer sideMenuBottomItemContainer">
        <MenuButton Text="@EnglishLocalization.Logout"
                    VectorSource="@IconPaths.ExitToAppPath"
                    OnClick="@(() => NavigateToLoginPage())"
                    BackColor="@White"
                    ForeColor="@DarkGray"
                    BorderRadius="0"
                    BoxShadow="none"
                    Style="@($"{WidthVariable.SetCssVariable("100%")}")" />
    </div>
</div>

<style>

    .sideMenuContainer {
        position: absolute;
        left: 0;
        top: 4rem;
        width: 10rem;
        height: -webkit-fill-available;
        min-height: calc(100vh - 4rem);
        min-height: 93.3vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        background: @White.NormalizedColor();
        filter: @LightFilterDropShadow;
    }

    .sideMenuItemContainer {
        position: relative;
        width: 100%;
        height: @NormalButtonSize;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }

    .sideMenuBottomItemContainer {
        position: absolute;
        bottom: 0;
    }

    .sideMenuItemText {
        font-weight: 600;
        padding-left: 12px;
        cursor: default;
    }

</style>