
@using static MeetBase.Blazor.PaletteColors
@using static MeetBase.Blazor.CssVariables
@using static MeetBase.Blazor.Personalization

@namespace MeetEdu

@if(Department is not null && Model is not null)
{
    <div class="secretaryPreviewContainer">
        
        <ImageWithFallbackIcon CssClasses="secretaryPreviewImage" 
                               ImageSource="@Model.User!.ImageUrl?.ToString()" 
                               AspectRatio="1 / 1"
                               FallbackIconVectorSource="@IconPaths.DomainPath"
                               FallbackIconColor="@Model.User.Color"
                               FallbackIconBackground="@Model.User.Color.DarkOrWhite()"
                               FallbackIconMargin="1rem"
                               AlternateText="@Model.User.Username"/>

        <h3 class="secretaryPreviewFullName">@Model.User.FirstName @Model.User.LastName</h3>

        <div class="secretaryPreviewContactContainer">
            <div class="modelContactContainer">
                <div class="secretaryPreviewContactImage">
                    <EmailMultipleVector Color="@Model.User.Color" />
                </div>
                <span class="modelContactValue">@Department.Email</span>

                <div class="secretaryPreviewContactImage">
                    <CallVector Color="@Model.User!.Color" />
                </div>
                <span class="modelContactValue">@Model.User!.PhoneNumber?.ToE164PhoneNumberString()</span>

                <div class="secretaryPreviewContactImage">
                    <EmailVector Color="@Model.User!.Color" />
                </div>
                <span class="modelContactValue">@Model.User!.Email</span>
            </div>
        </div>

        <span class="secretaryPreviewRole">@Model.Role</span>
    </div>
}

<style>

    .secretaryPreviewContainer {
        position: relative;
        width: 320px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: @LargeGap;
        padding: @VeryVeryLargePadding @LargePadding;
        background: @White.NormalizedColor();
        border-radius: @LargeBorderRadius;
        filter: @LightFilterDropShadow;
    }

    .secretaryPreviewImage {
        width: 6rem;
        height: 6rem;
        border-radius: @CircleBorderRadius;
        filter: @LightFilterDropShadow;
        overflow: hidden;
    }

    .secretaryPreviewFullName {
    }

    .secretaryPreviewContactContainer {
        font-size: 88%;
    }

    .secretaryPreviewContactImage {
        position: relative;
        width: 24px;
        height: 24px;
        filter: @LightFilterDropShadow;
    }

    .secretaryPreviewRole {
        position: relative;
        height: 40px;
        display: flex;
        align-items: center;
        font-size: 92%;
        font-weight: 600;
        margin: @LargeMargin 0;
        padding: @SmallPadding @LargePadding;
        background: @White.NormalizedColor();
        border-radius: @NormalBorderRadius;
        filter: @LightFilterDropShadow;
    }

</style>