@using MeetBase.Blazor;

@using static MeetBase.Blazor.CssVariables
@using static MeetBase.Blazor.Personalization

@namespace MeetEdu

@if(University is not null)
{
    <Button BackColor="@University.Color" 
            ForeColor="@University.Color.DarkOrWhite()" 
            BorderRadius="@LargeBorderRadius" 
            BoxShadow="@BoxShadow" 
            CssClasses="uniBoxImageContainer"
            OnClick="@UniversityButton_OnClick">
        <img class="uniBoxImage" src="@University.ImageUrl?.ToString()" alt="@University.Name"/>
        <h1 class="uniboxName">@University.Name</h1>
    </Button>
}

<style>

    .uniBoxImageContainer {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: @LargeGap;
        padding: @LargePadding;
        font-family: inherit;
    }

    .uniBoxImage {
        position: relative;
        width: 100px;
        height: 100px;
        filter: @LightFilterDropShadow;
    }

    .uniboxName {
        font-weight: 600;
        font-size: 100%;
    }

</style>